# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [1]:
import os
import pandas as pd
import numpy as np
import re
import string
PUIdata = os.getenv('PUIDATA')

In [53]:
# Load dataset
datfile = "/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9"
c311reqs = pd.read_csv(datfile, header=0)
c311reqs.shape

(10187766, 53)

In [54]:
c311reqs.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [55]:
# Check if all Boroughs and Community Districts are represented in the Data 
boroughs = c311reqs.groupby(["Borough"]).agg('count')
boroughs["Park Borough"]

Borough
BRONX            1665625
BROOKLYN         2831932
MANHATTAN        1900005
QUEENS           2189760
STATEN ISLAND     490998
Unspecified      1109446
Name: Park Borough, dtype: int64

In [56]:
# How many unique values do we have?

"""
There should be 59, 12 each in Bronx and Manhattan, 14 in Queens, 18 in Brooklyn and
3 in Staten Island

However, there is an unspecified borough (1.1 million records), an unspecified community
board for each borough (rough 200,000 per borough except SI which is 50,000), and a set
of invalid boards for each borough (anything over 18, about 8,000 for Queens and less than
2,000 for all other boroughs).
"""

com_grp = c311reqs[['Community Board','Borough','Agency']].groupby(["Community Board",'Borough'])
com_dists = com_grp.agg('count')
print(len(com_dists))
dists_list = com_dists.sort_index(level=1)
for dist in com_dists.itertuples():
    print(dist)

77
Pandas(Index=('0 Unspecified', 'Unspecified'), Agency=1109446)
Pandas(Index=('01 BRONX', 'BRONX'), Agency=74631)
Pandas(Index=('01 BROOKLYN', 'BROOKLYN'), Agency=185057)
Pandas(Index=('01 MANHATTAN', 'MANHATTAN'), Agency=77974)
Pandas(Index=('01 QUEENS', 'QUEENS'), Agency=171484)
Pandas(Index=('01 STATEN ISLAND', 'STATEN ISLAND'), Agency=182713)
Pandas(Index=('02 BRONX', 'BRONX'), Agency=60257)
Pandas(Index=('02 BROOKLYN', 'BROOKLYN'), Agency=121022)
Pandas(Index=('02 MANHATTAN', 'MANHATTAN'), Agency=133860)
Pandas(Index=('02 QUEENS', 'QUEENS'), Agency=114333)
Pandas(Index=('02 STATEN ISLAND', 'STATEN ISLAND'), Agency=121132)
Pandas(Index=('03 BRONX', 'BRONX'), Agency=75134)
Pandas(Index=('03 BROOKLYN', 'BROOKLYN'), Agency=197306)
Pandas(Index=('03 MANHATTAN', 'MANHATTAN'), Agency=150296)
Pandas(Index=('03 QUEENS', 'QUEENS'), Agency=122009)
Pandas(Index=('03 STATEN ISLAND', 'STATEN ISLAND'), Agency=136487)
Pandas(Index=('04 BRONX', 'BRONX'), Agency=181953)
Pandas(Index=('04 BROOKLYN', 'BROOKLYN'), Agency=139706)
Pandas(Index=('04 MANHATTAN', 'MANHATTAN'), Agency=132660)
Pandas(Index=('04 QUEENS', 'QUEENS'), Agency=99316)
Pandas(Index=('05 BRONX', 'BRONX'), Agency=161078)
Pandas(Index=('05 BROOKLYN', 'BROOKLYN'), Agency=189765)
Pandas(Index=('05 MANHATTAN', 'MANHATTAN'), Agency=142028)
Pandas(Index=('05 QUEENS', 'QUEENS'), Agency=168570)
Pandas(Index=('06 BRONX', 'BRONX'), Agency=99547)
Pandas(Index=('06 BROOKLYN', 'BROOKLYN'), Agency=114029)
Pandas(Index=('06 MANHATTAN', 'MANHATTAN'), Agency=104249)
Pandas(Index=('06 QUEENS', 'QUEENS'), Agency=90938)
Pandas(Index=('07 BRONX', 'BRONX'), Agency=185729)
Pandas(Index=('07 BROOKLYN', 'BROOKLYN'), Agency=107031)
Pandas(Index=('07 MANHATTAN', 'MANHATTAN'), Agency=151419)
Pandas(Index=('07 QUEENS', 'QUEENS'), Agency=195961)
Pandas(Index=('08 BRONX', 'BRONX'), Agency=92733)
Pandas(Index=('08 BROOKLYN', 'BROOKLYN'), Agency=141119)
Pandas(Index=('08 MANHATTAN', 'MANHATTAN'), Agency=149076)
Pandas(Index=('08 QUEENS', 'QUEENS'), Agency=123131)
Pandas(Index=('09 BRONX', 'BRONX'), Agency=147457)
Pandas(Index=('09 BROOKLYN', 'BROOKLYN'), Agency=135833)
Pandas(Index=('09 MANHATTAN', 'MANHATTAN'), Agency=127565)
Pandas(Index=('09 QUEENS', 'QUEENS'), Agency=151242)
Pandas(Index=('10 BRONX', 'BRONX'), Agency=95496)
Pandas(Index=('10 BROOKLYN', 'BROOKLYN'), Agency=111837)
Pandas(Index=('10 MANHATTAN', 'MANHATTAN'), Agency=137344)
Pandas(Index=('10 QUEENS', 'QUEENS'), Agency=128116)
Pandas(Index=('11 BRONX', 'BRONX'), Agency=122081)
Pandas(Index=('11 BROOKLYN', 'BROOKLYN'), Agency=139890)
Pandas(Index=('11 MANHATTAN', 'MANHATTAN'), Agency=95413)
Pandas(Index=('11 QUEENS', 'QUEENS'), Agency=101908)
Pandas(Index=('12 BRONX', 'BRONX'), Agency=168455)
Pandas(Index=('12 BROOKLYN', 'BROOKLYN'), Agency=150320)
Pandas(Index=('12 MANHATTAN', 'MANHATTAN'), Agency=268053)
Pandas(Index=('12 QUEENS', 'QUEENS'), Agency=229383)
Pandas(Index=('13 BROOKLYN', 'BROOKLYN'), Agency=72362)
Pandas(Index=('13 QUEENS', 'QUEENS'), Agency=163851)
Pandas(Index=('14 BROOKLYN', 'BROOKLYN'), Agency=187794)
Pandas(Index=('14 QUEENS', 'QUEENS'), Agency=103396)
Pandas(Index=('15 BROOKLYN', 'BROOKLYN'), Agency=146129)
Pandas(Index=('16 BROOKLYN', 'BROOKLYN'), Agency=85467)
Pandas(Index=('17 BROOKLYN', 'BROOKLYN'), Agency=191720)
Pandas(Index=('18 BROOKLYN', 'BROOKLYN'), Agency=156100)
Pandas(Index=('26 BRONX', 'BRONX'), Agency=397)
Pandas(Index=('27 BRONX', 'BRONX'), Agency=469)
Pandas(Index=('28 BRONX', 'BRONX'), Agency=433)
Pandas(Index=('55 BROOKLYN', 'BROOKLYN'), Agency=767)
Pandas(Index=('56 BROOKLYN', 'BROOKLYN'), Agency=834)
Pandas(Index=('64 MANHATTAN', 'MANHATTAN'), Agency=904)
Pandas(Index=('80 QUEENS', 'QUEENS'), Agency=2363)
Pandas(Index=('81 QUEENS', 'QUEENS'), Agency=1420)
Pandas(Index=('82 QUEENS', 'QUEENS'), Agency=725)
Pandas(Index=('83 QUEENS', 'QUEENS'), Agency=3072)
Pandas(Index=('84 QUEENS', 'QUEENS'), Agency=274)
Pandas(Index=('95 STATEN ISLAND', 'STATEN ISLAND'), Agency=531)
Pandas(Index=('Unspecified BRONX', 'BRONX'), Agency=199775)
Pandas(Index=('Unspecified BROOKLYN', 'BROOKLYN'), Agency=257844)
Pandas(Index=('Unspecified MANHATTAN', 'MANHATTAN'), Agency=229164)
Pandas(Index=('Unspecified QUEENS', 'QUEENS'), Agency=218268)
Pandas(Index=('Unspecified STATEN ISLAND', 'STATEN ISLAND'), Agency=50135)

In [ ]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

In [57]:
# Check for duplicates? Are these plausible?
# There are 22 unique key entries that are duplicates of other unique keys in set
print(len(c311reqs["Unique Key"]))
print(len(c311reqs["Unique Key"].unique()))

10187766
10187744

In [58]:
dups = c311reqs['Unique Key'].duplicated()
dups.shape

(10187766,)

In [59]:
# Nearly all of the duplicates are rodents. The two exceptions also relate to unsanitary animals
isdup = dups[dups == True]
isdup
dupreqs = c311reqs.loc[isdup.index]
print(len(dupreqs['Unique Key'].unique()))
dupreqs

22

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
4248298,26003579,07/26/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,131 HARRISON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636835,-74.138796,"(40.63683487948972, -74.13879629882382)"
4253082,26020434,07/25/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10462,1909 BARNES AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.848845,-73.863631,"(40.8488451919449, -73.86363125763393)"
4253086,26012011,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,440 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664148,-73.945482,"(40.66414769632634, -73.94548172836168)"
4253091,26002968,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11237,406 SUYDAM STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705703,-73.920175,"(40.705702500630075, -73.92017516512333)"
4253092,26020332,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11213,780 ST MARKS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675023,-73.946814,"(40.67502312706964, -73.94681393618372)"
4253095,26033513,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,60 AVENUE B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636351,-74.129806,"(40.63635131789832, -74.12980576711388)"
4253097,26011524,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10031,1484 AMSTERDAM AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817860,-73.953008,"(40.817859804380014, -73.95300779968848)"
4253098,26011777,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11221,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691219,-73.939679,"(40.6912192567118, -73.93967921077531)"
4253100,26011611,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10467,2309 HOLLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.859953,-73.865586,"(40.85995256353461, -73.86558595844559)"
4253101,26028900,07/25/2013 12:00:00 AM,08/06/2013 10:54:57 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,22 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636904,-74.128820,"(40.63690412970023, -74.12881960785445)"
4253103,26011682,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Mouse Sighting,3+ Family Apt. Building,11237,398 STANHOPE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705085,-73.916053,"(40.705084740960004, -73.9160534139846)"
4253104,26028912,07/25/2013 12:00:00 AM,08/06/2013 10:41:46 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Waste,1-2 Family Dwelling,10302,18 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636934,-74.128809,"(40.63693433443217, -74.12880885701975)"
4253106,26033604,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,456 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.663665,-73.945529,"(40.66366463760264, -73.94552898151792)"
4257847,26050731,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11237,14 IRVING AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705429,-73.925665,"(40.70542895549614, -73.92566496179228)"
4257850,26048748,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11210,1521 EAST 23 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613212,-73.951070,"(40.613212457611496, -73.95107004320182)"
4257854,26044811,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11201,30 COLUMBIA PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692997,-73.998677,"(40.692997199564864, -73.99867657112512)"
4257859,26045795,07/24/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11207,1493 BUSHWICK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.683062,-73.906815,"(40.683061832920096, -73.90681490555575)"
4257860,26047763,07/24/2013 12:00:00 AM,08/01/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10011,456 WEST 22 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.746476,-74.003378,"(40.74647604427205, -74.00337799399065)"
4257862,26049793,07/24/2013 12:00:00 AM,08/09/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11233,1819 PROSPECT PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672458,-73.915918,"(40.67245754368937, -73.91591783719936)"
4257863,26048661,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11230,1259 EAST 13 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.618893,-73.962081,"(40.61889284968798, -73.96208101005551)"
4257866,26044898,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10302,111 INNIS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634368,-74.144581,"(40.63436841871342, -74.144581045052)"
4257868,26050656,07/24/2013 12:00:00 AM,08/06/2013 11:37:06 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Odor,3+ Family Apartment Building,11225,580 EMPIRE BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664070,-73.943110,"(40.66406969404813, -73.9431100244629)"

In [61]:
# Remove duplicates
notdup = dups[dups == False]
c311reqs = c311reqs.loc[notdup.index]
c311reqs.shape

(10187744, 53)

In [62]:
# What about missing values? Can you detect any patterns? 
# Unique Key, Agency, Complaint Type, Status, Borough and a few others all have no missing values
# Landmark, Facility Type, Vehicle Type, Bridge Highway, Ferry, are mostly or all missing
c311reqs.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197705
Street Name                        2198558
Cross Street 1                     2375942
Cross Street 2                     2425792
Intersection Street 1              8345267
Intersection Street 2              8346281
Address Type                        490299
City                                788712
Landmark                          10180434
Facility Type                      8579463
Status                                   0
Due Date                           7120286
Resolution Description             3786739
Resolution Action Updated Date      250932
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185390
Vehicle Type                      10180242
Taxi Company Borough              10177579
Taxi Pick Up Location             10089185
Bridge Highway Name               10152649
Bridge Highway Direction          10152701
Road Ramp                         10152964
Bridge Highway Segment            10135758
Garage Lot Name                   10183411
Ferry Direction                   10185001
Ferry Terminal Name               10181220
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

In [79]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 

c311reqs["valid_board"] = np.ones(len(c311reqs.Borough), np.float)
for bname in com_dists.itertuples():
    if re.match(r"[01]\d", bname[0][0]) == None:
        c311reqs.valid_board.loc[c311reqs['Community Board'] == bname[0][0]] = np.nan
c311reqs.valid_board.isnull().sum()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

2076821

In [85]:
# Drop the marked districts
c311reqs = c311reqs[~c311reqs['valid_board'].isnull()]

In [87]:
# Produce your result: Generate an indicator which ranks the Community District by
# complaint numbers on the Community district level
c311reqs['Complaints'] = np.zeros(len(c311reqs.valid_board))
com_grp = c311reqs[['Community Board', 'Borough',
                    'Complaints']].groupby(['Community Board', 'Borough'])
comp_by_board = com_grp.agg({'Complaints' : 'count'})
comp_by_board

                                Complaints
Community Board  Borough
01 BRONX         BRONX               74631
01 BROOKLYN      BROOKLYN           185057
01 MANHATTAN     MANHATTAN           77974
01 QUEENS        QUEENS             171484
01 STATEN ISLAND STATEN ISLAND      182708
02 BRONX         BRONX               60257
02 BROOKLYN      BROOKLYN           121021
02 MANHATTAN     MANHATTAN          133860
02 QUEENS        QUEENS             114333
02 STATEN ISLAND STATEN ISLAND      121132
03 BRONX         BRONX               75134
03 BROOKLYN      BROOKLYN           197305
03 MANHATTAN     MANHATTAN          150296
03 QUEENS        QUEENS             122009
03 STATEN ISLAND STATEN ISLAND      136487
04 BRONX         BRONX              181953
04 BROOKLYN      BROOKLYN           139702
04 MANHATTAN     MANHATTAN          132659
04 QUEENS        QUEENS              99316
05 BRONX         BRONX              161078
05 BROOKLYN      BROOKLYN           189765
05 MANHATTAN     MANHATTAN          142028
05 QUEENS        QUEENS             168570
06 BRONX         BRONX               99547
06 BROOKLYN      BROOKLYN           114029
06 MANHATTAN     MANHATTAN          104249
06 QUEENS        QUEENS              90938
07 BRONX         BRONX              185729
07 BROOKLYN      BROOKLYN           107031
07 MANHATTAN     MANHATTAN          151419
07 QUEENS        QUEENS             195961
08 BRONX         BRONX               92733
08 BROOKLYN      BROOKLYN           141118
08 MANHATTAN     MANHATTAN          149076
08 QUEENS        QUEENS             123131
09 BRONX         BRONX              147457
09 BROOKLYN      BROOKLYN           135830
09 MANHATTAN     MANHATTAN          127564
09 QUEENS        QUEENS             151242
10 BRONX         BRONX               95496
10 BROOKLYN      BROOKLYN           111837
10 MANHATTAN     MANHATTAN          137344
10 QUEENS        QUEENS             128116
11 BRONX         BRONX              122079
11 BROOKLYN      BROOKLYN           139890
11 MANHATTAN     MANHATTAN           95413
11 QUEENS        QUEENS             101908
12 BRONX         BRONX              168455
12 BROOKLYN      BROOKLYN           150320
12 MANHATTAN     MANHATTAN          268053
12 QUEENS        QUEENS             229383
13 BROOKLYN      BROOKLYN            72362
13 QUEENS        QUEENS             163851
14 BROOKLYN      BROOKLYN           187792
14 QUEENS        QUEENS             103396
15 BROOKLYN      BROOKLYN           146129
16 BROOKLYN      BROOKLYN            85466
17 BROOKLYN      BROOKLYN           191720
18 BROOKLYN      BROOKLYN           156100

In [ ]:
# Safe reduced data frame (Community District level)

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [88]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [91]:
# Check variables in file
for cname in df_pop.columns:
    print(cname)

FIPS
cd_id
Total Population
Population Density (per sq. mile)
% Total Population: Male
% Total Population: 18 to 24 Years
% Total Population: 25 to 34 Years
% Total Population: 35 to 44 Years
% Population 5 Years And Over: Speak Only English
% Population 5 Years And Over: Spanish or Spanish Creole
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"
Population 25 Years and over:
Population 25 Years and over: Less Than High School
Population 25 Years and over: High School Graduate (includes equivalency)
Population 25 Years and over: Some college
Population 25 Years and over: Bachelor's degree
Population 25 Years and over: Master's degree
Population 25 Years and over: Professional school degree
Population 25 Years and over: Doctorate degree
% Population 25 Years and over: Less Than High School
% Population 25 Years and over: High School Graduate (includes equivalency)
% Population 25 Years and over: Some college
% Population 25 Years and over: Bachelor's degree
% Population 25 Years and over: Master's degree
% Population 25 Years and over: Professional school degree
% Population 25 Years and over: Doctorate degree
Population 25 Years and over:.1
Population 25 Years and over: Less Than High School.1
Population 25 Years and over: High School Graduate or more (includes equivalency)
Population 25 Years and over: Some college or more
Population 25 Years and over: Bachelor's degree or more
Population 25 Years and over: Master's degree or more
Population 25 Years and over: Professional school degree or more
Population 25 Years and over: Doctorate degree.1
% Population 25 Years and over: Less Than High School.1
% Population 25 Years and over: High School Graduate or more (includes equivalency)
% Population 25 Years and over: Some college or more
% Population 25 Years and over: Bachelor's degree or more
% Population 25 Years and over: Master's degree or more
% Population 25 Years and over: Professional school degree or more
% Population 25 Years and over: Doctorate degree.1
Population 3 Years and over:
Population 3 Years and over: Enrolled in School
Population 3 Years and over: Not Enrolled in School
% Population 3 Years and over: Enrolled in School
% Population 3 Years and over: Not Enrolled in School
Population 3 Years and over Enrolled In School
Population 3 Years and over Enrolled In School: Public School
Population 3 Years and over Enrolled In School: Public School: Pre-school
Population 3 Years and over Enrolled In School: Public School: K-8
Population 3 Years and over Enrolled In School: Public School: 9-12
Population 3 Years and over Enrolled In School: Public School: College
Population 3 Years and over Enrolled In School: Private School
Population 3 Years and over Enrolled In School: Private School: Pre-school
Population 3 Years and over Enrolled In School: Private School: K-8
Population 3 Years and over Enrolled In School: Private School: 9-12
Population 3 Years and over Enrolled In School: Private School: College
% Population 3 Years and over Enrolled In School: Public School
% Population 3 Years and over Enrolled In School: Public School: Pre-school
% Population 3 Years and over Enrolled In School: Public School: K-8
% Population 3 Years and over Enrolled In School: Public School: 9-12
% Population 3 Years and over Enrolled In School: Public School: College
% Population 3 Years and over Enrolled In School: Private School
% Population 3 Years and over Enrolled In School: Private School: Pre-school
% Population 3 Years and over Enrolled In School: Private School: K-8
% Population 3 Years and over Enrolled In School: Private School: 9-12
% Population 3 Years and over Enrolled In School: Private School: College
Employed civilian Population 16 Years and over:
Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
Employed civilian Population 16 Years and over: Professional and related occupations
Employed civilian Population 16 Years and over: Healthcare support occupations
Employed civilian Population 16 Years and over: Protective service occupations
Employed civilian Population 16 Years and over: Food preparation and serving related occupations
Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
Employed civilian Population 16 Years and over: Personal care and service occupations
Employed civilian Population 16 Years and over: Sales and related occupations
Employed civilian Population 16 Years and over: Office and administrative support occupations
Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
Employed civilian Population 16 Years and over: Production occupations
Employed civilian Population 16 Years and over: Transportation and material moving occupations
% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
% Employed civilian Population 16 Years and over: Professional and related occupations
% Employed civilian Population 16 Years and over: Healthcare support occupations
% Employed civilian Population 16 Years and over: Protective service occupations
% Employed civilian Population 16 Years and over: Food preparation and serving related occupations
% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
% Employed civilian Population 16 Years and over: Personal care and service occupations
% Employed civilian Population 16 Years and over: Sales and related occupations
% Employed civilian Population 16 Years and over: Office and administrative support occupations
% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
% Employed civilian Population 16 Years and over: Production occupations
% Employed civilian Population 16 Years and over: Transportation and material moving occupations
Employed Civilian Population 16 Years And Over:
Employed Civilian Population 16 Years And Over: Private Sector
Employed Civilian Population 16 Years And Over: Public Sector
Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
Employed Civilian Population 16 Years And Over: Private Non-Profit
Employed Civilian Population 16 Years And Over: Unpaid Family Workers
% Employed Civilian Population 16 Years And Over: Private Sector
% Employed Civilian Population 16 Years And Over: Public Sector
% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
% Employed Civilian Population 16 Years And Over: Private Non-Profit
% Employed Civilian Population 16 Years And Over: Unpaid Family Workers
Households:
Households: Less than $10,000
Households: $10,000 to $14,999
Households: $15,000 to $19,999
Households: $20,000 to $24,999
Households: $25,000 to $29,999
Households: $30,000 to $34,999
Households: $35,000 to $39,999
Households: $40,000 to $44,999
Households: $45,000 to $49,999
Households: $50,000 to $59,999
Households: $60,000 to $74,999
Households: $75,000 to $99,999
Households: $100,000 to $124,999
Households: $125,000 to $149,999
Households: $150,000 to $199,999
Households: $200,000 or More
% Households: Less than $10,000
% Households: $10,000 to $14,999
% Households: $15,000 to $19,999
% Households: $20,000 to $24,999
% Households: $25,000 to $29,999
% Households: $30,000 to $34,999
% Households: $35,000 to $39,999
% Households: $40,000 to $44,999
% Households: $45,000 to $49,999
% Households: $50,000 to $59,999
% Households: $60,000 to $74,999
% Households: $75,000 to $99,999
% Households: $100,000 to $124,999
% Households: $125,000 to $149,999
% Households: $150,000 to $199,999
% Households: $200,000 or More
Median household income (In 2014 Inflation Adjusted Dollars)
Per capita income (In 2014 Inflation Adjusted Dollars)
Employed Civilian Population 16 Years And Over:.1
Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
Employed Civilian Population 16 Years And Over: Service occupations
Employed Civilian Population 16 Years And Over: Sales and office occupations
Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations
% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
% Employed Civilian Population 16 Years And Over: Service occupations
% Employed Civilian Population 16 Years And Over: Sales and office occupations
% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations

In [90]:
# How many community districts are in file? 
df_pop.shape

(59, 158)

In [100]:
# Set some variables to refer to column names in df_pop
Popn = "Total Population"
Dense = "Population Density (per sq. mile)"
PctEnglish = "% Population 5 Years And Over: Speak Only English"
PctBach = "% Population 25 Years and over: Bachelor's degree or more"
PctMaster = "% Population 25 Years and over: Master's degree or more"
PctProf = "% Population 25 Years and over: Professional school degree or more"
PctDoctorate = "% Population 25 Years and over: Doctorate degree.1"
Bach = "Population 25 Years and over: Bachelor's degree or more"
Master = "Population 25 Years and over: Master's degree or more"
Prof = "Population 25 Years and over: Professional school degree or more"
Doctorate = "Population 25 Years and over: Doctorate degree.1"

In [194]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_pop['Low Income'] = (df_pop["% Households: Less than $10,000"] +
                        df_pop["% Households: $10,000 to $14,999"] +
                        df_pop["% Households: $15,000 to $19,999"] +
                        df_pop["% Households: $20,000 to $24,999"] +
                        df_pop["% Households: $25,000 to $29,999"])
df_pop_slim = df_pop[["FIPS", "cd_id", Popn, Dense, PctEnglish, Bach, Master, Prof, Doctorate,
                    "Low Income"]]
df_pop_slim["English Only"] = df_pop_slim[Popn] * df_pop_slim[PctEnglish]
bdict = {'BX' : "BRONX", 'BK' : 'BROOKLYN', 'MN' : 'MANHATTAN', 'QN' : 'QUEENS',
        'SI' : 'STATEN ISLAND'}
str1 = "BX01"
print(str1)
str1 = re.sub("(..)(\d\d)", r'\2 \1', str1)
print(str1)
df_pop_slim.cd_id = df_pop_slim.cd_id.map(lambda x: x[2:4] + " " + x[:2])
for br in bdict.keys():
    df_pop_slim.cd_id = df_pop_slim.cd_id.map(lambda x: x.replace(br, bdict[br]))
df_pop_slim

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

BX01
01 BX

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Population 5 Years And Over: Speak Only English,Population 25 Years and over: Bachelor's degree or more,Population 25 Years and over: Master's degree or more,Population 25 Years and over: Professional school degree or more,Population 25 Years and over: Doctorate degree.1,Low Income,English Only
0,3603701,08 BRONX,106737,31229.950060,46.80,28677,13421,5205,1885,31.31,4995291.60
1,3603702,12 BRONX,134644,19966.678390,73.09,20682,5466,213,151,33.92,9841129.96
2,3603703,10 BRONX,121209,12913.817030,61.79,23341,8959,1361,725,27.34,7489504.11
3,3603704,11 BRONX,135839,35677.954530,43.22,22500,10174,3168,1246,33.76,5870961.58
4,3603705,03 BRONX,172247,39405.792220,36.82,11694,3781,1237,743,60.09,6342134.54
5,3603705,06 BRONX,172247,39405.792220,28.21,11694,3781,1237,743,60.09,4859087.87
6,3603706,07 BRONX,135893,86487.077920,29.10,15350,3872,905,307,43.74,3954486.30
7,3603707,05 BRONX,132850,87974.348600,29.84,9931,3463,658,295,61.31,3964244.00
8,3603708,04 BRONX,141467,71270.882190,42.97,13564,3501,502,385,54.34,6078836.99
9,3603709,09 BRONX,190126,42752.506900,33.62,20089,5968,579,48,43.08,6392036.12
10,3603710,01 BRONX,167147,34412.075240,27.49,8798,2403,670,599,62.08,4594871.03
11,3603710,02 BRONX,167147,34412.075240,49.63,8798,2403,670,599,62.08,8295505.61
12,3603801,12 MANHATTAN,224365,75217.432870,68.39,47549,19577,5165,2470,34.71,15344322.35
13,3603802,09 MANHATTAN,130739,77402.950100,47.08,36347,16568,6250,3116,39.07,6155192.12
14,3603803,10 MANHATTAN,132027,91244.889890,74.19,35363,15679,4953,1488,41.39,9795083.13
15,3603804,11 MANHATTAN,129713,56066.264730,71.81,23741,8535,3503,734,48.68,9314690.53
16,3603805,08 MANHATTAN,221898,109960.139600,67.27,143746,71200,29567,8200,14.68,14927078.46
17,3603806,07 MANHATTAN,192374,65024.961090,73.38,117918,70490,28228,7761,16.57,14116404.12
18,3603807,05 MANHATTAN,149447,48626.990950,45.29,88753,40322,11092,3979,19.32,6768454.63
19,3603807,04 MANHATTAN,149447,48626.990950,73.93,88753,40322,11092,3979,19.32,11048616.71
20,3603808,06 MANHATTAN,143349,87333.791040,78.30,91533,45406,15894,3462,17.25,11224226.70
21,3603809,03 MANHATTAN,152453,87256.670150,63.29,53158,20357,4093,1330,41.98,9648750.37
22,3603810,01 MANHATTAN,159903,53928.053600,65.31,103296,44912,16524,5801,16.36,10443264.93
23,3603810,02 MANHATTAN,159903,53928.053600,44.94,103296,44912,16524,5801,16.36,7186040.82
24,3603901,03 STATEN ISLAND,170741,6968.306388,36.45,38799,14725,2922,878,20.41,6223509.45
25,3603902,02 STATEN ISLAND,126200,6371.997113,68.91,27844,11130,2573,710,21.73,8696442.00
26,3603903,01 STATEN ISLAND,176338,12537.604960,71.43,34141,12633,3318,963,32.34,12595823.34
27,3604001,01 BROOKLYN,154713,37671.510580,72.48,54231,17028,3956,757,28.64,11213598.24
28,3604002,04 BROOKLYN,137368,54279.761230,78.17,20874,5126,874,313,38.93,10738056.56
29,3604003,03 BROOKLYN,133235,58004.868160,77.10,24538,8501,1954,582,44.06,10272418.50
30,3604004,02 BROOKLYN,139070,44719.888150,57.49,58666,26786,8237,2003,21.80,7995134.30
31,3604005,06 BROOKLYN,125062,31218.503280,69.33,65089,32706,10699,2942,12.85,8670548.46
32,3604006,08 BROOKLYN,126747,57010.543560,80.23,31471,12476,3505,1246,35.64,10168911.81
33,3604007,16 BROOKLYN,123772,47796.011830,71.10,9189,2788,563,182,54.35,8800189.20
34,3604008,05 BROOKLYN,155863,26394.764690,25.03,14967,4541,311,206,46.18,3901250.89
35,3604009,18 BROOKLYN,210957,15374.526180,44.62,44256,17040,2751,1091,21.80,9412901.34
36,3604010,17 BROOKLYN,137526,44659.444610,31.11,20843,7179,913,183,34.98,4278433.86
37,3604011,09 BROOKLYN,109337,64006.179970,50.85,23453,8222,2075,339,35.97,5559786.45
38,3604012,07 BROOKLYN,152685,36736.915040,43.33,27115,9608,2817,1414,33.37,6615841.05
39,3604013,10 BROOKLYN,128545,33069.986680,27.63,35199,13903,4518,1217,32.21,3551698.35
40,3604014,12 BROOKLYN,170011,54054.487510,31.65,26590,11316,3105,1141,38.06,5380848.15
41,3604015,14 BROOKLYN,180723,62164.359800,41.83,42115,15817,2843,1176,33.18,7559643.09
42,3604016,15 BROOKLYN,137815,31829.054410,16.12,40424,15985,3528,1237,32.31,2221577.80
43,3604017,11 BROOKLYN,187637,50644.631520,27.57,40401,13723,2924,544,33.38,5173152.09
44,3604018,13 BROOKLYN,110727,32537.409220,40.57,25370,8575,2600,376,50.33,4492194.39
45,3604101,01 QUEENS,182860,35800.759600,66.19,61052,21055,4737,2059,28.26,12103503.40
46,3604102,03 QUEENS,182354,44839.980490,40.08,27154,8299,2036,461,30.26,7308748.32
47,3604103,07 QUEENS,256742,21836.668490,15.29,47168,17555,4459,1479,32.17,3925585.18
48,3604104,11 QUEENS,120996,12991.169540,36.98,38752,16084,3758,1716,16.32,4474432.08
49,3604105,13 QUEENS,193102,9812.563966,27.17,37039,13355,2755,726,17.53,5246581.34
50,3604106,08 QUEENS,159330,21412.216470,47.31,39766,16770,4833,1774,27.01,7537902.30
51,3604107,04 QUEENS,154740,42497.737460,40.05,25298,8259,1877,671,33.21,6197337.00
52,3604108,06 QUEENS,107893,38598.784620,71.64,46322,19944,7155,2583,25.08,7729454.52
53,3604109,02 QUEENS,150100,25142.587280,65.22,38550,14103,3403,1096,23.25,9789522.00
54,3604110,05 QUEENS,168488,23005.322980,68.93,30366,9969,1823,419,26.47,11613877.84
55,3604111,09 QUEENS,151202,31804.100680,NaN,23875,8147,2128,455,22.57,NaN
56,3604112,12 QUEENS,251002,27089.677200,NaN,35565,11212,1604,391,28.99,NaN
57,3604113,10 QUEENS,134827,21979.770830,NaN,17835,5680,1308,267,24.95,NaN
58,3604114,14 QUEENS,107944,9541.923526,NaN,19733,9232,2573,763,39.15,NaN

In [ ]:
# Save data frame

In [118]:
# Infrastructure by Community District
infr_file = ("http://cosmo.nyu.edu/~fb55/PUI2016/data/" +
             "ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
df_infr = pd.read_csv(infr_file)
df_infr.shape

(59, 31)

In [120]:
# Check variables in file
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [123]:
# How many community districts are in file? 
# There are 59 community districts. However, 2 pairs of districts are combined in
# Bronx and 1 in Manhattan
df_infr["Qualifying Name"]

0     NYC-Bronx Community District 8--Riverdale, New...
1     NYC-Bronx Community District 12--Wakefield, Ne...
2     NYC-Bronx Community District 10--Co-op City, N...
3     NYC-Bronx Community District 11--Pelham Parkwa...
4     NYC-Bronx Community District 3 & 6--Belmont, N...
5     NYC-Bronx Community District 3 & 6--Belmont, N...
6     NYC-Bronx Community District 7--Bedford Park, ...
7     NYC-Bronx Community District 5--Morris Heights...
8     NYC-Bronx Community District 4--Concourse, New...
9     NYC-Bronx Community District 9--Castle Hill, N...
10    NYC-Bronx Community District 1 & 2--Hunts Poin...
11    NYC-Bronx Community District 1 & 2--Hunts Poin...
12    NYC-Manhattan Community District 12--Washingto...
13    NYC-Manhattan Community District 9--Hamilton H...
14    NYC-Manhattan Community District 10--Central H...
15    NYC-Manhattan Community District 11--East Harl...
16    NYC-Manhattan Community District 8--Upper East...
17    NYC-Manhattan Community District 7--Upper West...
18    NYC-Manhattan Community District 4 & 5--Chelse...
19    NYC-Manhattan Community District 4 & 5--Chelse...
20    NYC-Manhattan Community District 6--Murray Hil...
21    NYC-Manhattan Community District 3--Chinatown ...
22    NYC-Manhattan Community District 1 & 2--Batter...
23    NYC-Manhattan Community District 1 & 2--Batter...
24    NYC-Staten Island Community District 3--Totten...
25    NYC-Staten Island Community District 2--New Sp...
26    NYC-Staten Island Community District 1--Port R...
27    NYC-Brooklyn Community District 1--Greenpoint ...
28    NYC-Brooklyn Community District 4--Bushwick PU...
29    NYC-Brooklyn Community District 3--Bedford-Stu...
30    NYC-Brooklyn Community District 2--Brooklyn He...
31    NYC-Brooklyn Community District 6--Park Slope,...
32    NYC-Brooklyn Community District 8--Crown Heigh...
33    NYC-Brooklyn Community District 16--Brownsvill...
34    NYC-Brooklyn Community District 5--East New Yo...
35    NYC-Brooklyn Community District 18--Canarsie &...
36    NYC-Brooklyn Community District 17--East Flatb...
37    NYC-Brooklyn Community District 9--Crown Heigh...
38    NYC-Brooklyn Community District 7--Sunset Park...
39    NYC-Brooklyn Community District 10--Bay Ridge ...
40    NYC-Brooklyn Community District 12--Borough Pa...
41    NYC-Brooklyn Community District 14--Flatbush &...
42    NYC-Brooklyn Community District 15--Sheepshead...
43    NYC-Brooklyn Community District 11--Bensonhurs...
44    NYC-Brooklyn Community District 13--Brighton B...
45    NYC-Queens Community District 1--Astoria & Lon...
46    NYC-Queens Community District 3--Jackson Heigh...
47    NYC-Queens Community District 7--Flushing, New...
48    NYC-Queens Community District 11--Bayside, New...
49    NYC-Queens Community District 13--Queens Villa...
50    NYC-Queens Community District 8--Briarwood, Ne...
51    NYC-Queens Community District 4--Elmhurst & So...
52    NYC-Queens Community District 6--Forest Hills ...
53    NYC-Queens Community District 2--Sunnyside & W...
54    NYC-Queens Community District 5--Ridgewood, Ne...
55    NYC-Queens Community District 9--Richmond Hill...
56    NYC-Queens Community District 12--Jamaica, New...
57    NYC-Queens Community District 10--Howard Beach...
58    NYC-Queens Community District 14--Far Rockaway...
Name: Qualifying Name, dtype: object

In [138]:
s1 = "comm board dist 2"
w = s1.split(' ')
"{:s} {:02d}".format(w[0], int(w[3]))

'comm 02'

In [130]:
df_infr[["Geographic Identifier", "Households"]].iloc[[10, 11]]

   Geographic Identifier  Households
10        79500US3603710       52191
11        79500US3603710       52191

In [154]:
cdists = {}
def set_cd_id(qname):
    qname = qname[4:]
    Qname = qname.upper()
    Qname = Qname.replace("-", " ")
    wds = Qname.split(' ')
    bname = wds[0]
    wds = wds[1:]
    if bname == "STATEN":
        bname += " " + wds[0]
        wds = wds[1:]
    wds = wds[2:]
    qnum = "{:02d}".format(int(wds[0]))
    #dname = qnum + " " + bname
    if qnum + " " + bname in cdists.keys():
        qnum = "{:02d}".format(int(wds[2]))
    dname = qnum + " " + bname
    cdists[dname] = 1
    return dname

df_infr["cd_id"] = df_infr["Geographic Identifier"]
for rw in range(59):
    df_infr.cd_id.iloc[rw] = set_cd_id(df_infr['Qualifying Name'].iloc[rw])
df_infr[["Qualifying Name", "Households", "Households: With An Internet Subscription", "cd_id"]]

,Qualifying Name,Households,Households: With An Internet Subscription,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,08 BRONX
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,12 BRONX
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,10 BRONX
3,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,11 BRONX
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,03 BRONX
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,06 BRONX
6,"NYC-Bronx Community District 7--Bedford Park, ...",47252,31468,07 BRONX
7,NYC-Bronx Community District 5--Morris Heights...,44699,26332,05 BRONX
8,"NYC-Bronx Community District 4--Concourse, New...",47935,29376,04 BRONX
9,"NYC-Bronx Community District 9--Castle Hill, N...",64011,45976,09 BRONX
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,01 BRONX
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,02 BRONX
12,NYC-Manhattan Community District 12--Washingto...,75352,56940,12 MANHATTAN
13,NYC-Manhattan Community District 9--Hamilton H...,47440,35281,09 MANHATTAN
14,NYC-Manhattan Community District 10--Central H...,57064,36469,10 MANHATTAN
15,NYC-Manhattan Community District 11--East Harl...,49721,30630,11 MANHATTAN
16,NYC-Manhattan Community District 8--Upper East...,114838,103065,08 MANHATTAN
17,NYC-Manhattan Community District 7--Upper West...,97229,85575,07 MANHATTAN
18,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,04 MANHATTAN
19,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,05 MANHATTAN
20,NYC-Manhattan Community District 6--Murray Hil...,80268,70507,06 MANHATTAN
21,NYC-Manhattan Community District 3--Chinatown ...,73578,46168,03 MANHATTAN
22,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,01 MANHATTAN
23,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,02 MANHATTAN
24,NYC-Staten Island Community District 3--Totten...,57658,49218,03 STATEN ISLAND
25,NYC-Staten Island Community District 2--New Sp...,45266,35085,02 STATEN ISLAND
26,NYC-Staten Island Community District 1--Port R...,62047,47186,01 STATEN ISLAND
27,NYC-Brooklyn Community District 1--Greenpoint ...,62990,47013,01 BROOKLYN
28,NYC-Brooklyn Community District 4--Bushwick PU...,47580,33314,04 BROOKLYN
29,NYC-Brooklyn Community District 3--Bedford-Stu...,50688,33438,03 BROOKLYN
30,NYC-Brooklyn Community District 2--Brooklyn He...,57188,46110,02 BROOKLYN
31,"NYC-Brooklyn Community District 6--Park Slope,...",49709,44770,06 BROOKLYN
32,NYC-Brooklyn Community District 8--Crown Heigh...,50266,35043,08 BROOKLYN
33,NYC-Brooklyn Community District 16--Brownsvill...,44269,25372,16 BROOKLYN
34,NYC-Brooklyn Community District 5--East New Yo...,55136,37464,05 BROOKLYN
35,NYC-Brooklyn Community District 18--Canarsie &...,69980,54253,18 BROOKLYN
36,NYC-Brooklyn Community District 17--East Flatb...,50711,35675,17 BROOKLYN
37,NYC-Brooklyn Community District 9--Crown Heigh...,41281,28686,09 BROOKLYN
38,NYC-Brooklyn Community District 7--Sunset Park...,45848,35725,07 BROOKLYN
39,NYC-Brooklyn Community District 10--Bay Ridge ...,48591,37983,10 BROOKLYN
40,NYC-Brooklyn Community District 12--Borough Pa...,46062,28128,12 BROOKLYN
41,NYC-Brooklyn Community District 14--Flatbush &...,61174,45090,14 BROOKLYN
42,NYC-Brooklyn Community District 15--Sheepshead...,53639,40467,15 BROOKLYN
43,NYC-Brooklyn Community District 11--Bensonhurs...,62220,46126,11 BROOKLYN
44,NYC-Brooklyn Community District 13--Brighton B...,45070,28238,13 BROOKLYN
45,NYC-Queens Community District 1--Astoria & Lon...,75758,61861,01 QUEENS
46,NYC-Queens Community District 3--Jackson Heigh...,56146,40561,03 QUEENS
47,"NYC-Queens Community District 7--Flushing, New...",89206,68446,07 QUEENS
48,"NYC-Queens Community District 11--Bayside, New...",43279,37361,11 QUEENS
49,NYC-Queens Community District 13--Queens Villa...,59953,50330,13 QUEENS
50,"NYC-Queens Community District 8--Briarwood, Ne...",54629,43887,08 QUEENS
51,NYC-Queens Community District 4--Elmhurst & So...,45916,33634,04 QUEENS
52,NYC-Queens Community District 6--Forest Hills ...,50896,41674,06 QUEENS
53,NYC-Queens Community District 2--Sunnyside & W...,52641,44193,02 QUEENS
54,"NYC-Queens Community District 5--Ridgewood, Ne...",60344,48488,05 QUEENS
55,NYC-Queens Community District 9--Richmond Hill...,44971,36258,09 QUEENS
56,"NYC-Queens Community District 12--Jamaica, New...",74848,53848,12 QUEENS
57,NYC-Queens Community District 10--Howard Beach...,38041,30313,10 QUEENS
58,NYC-Queens Community District 14--Far Rockaway...,39357,28841,14 QUEENS

In [162]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
mobile_flds = []
for fld in df_infr.columns:
    if re.search("With Mobile", fld) or re.search("Households: Mobile", fld):
        mobile_flds.append(fld)
df_infr['Mobile'] = df_infr[mobile_flds[0]]
for c in mobile_flds[1:]:
    df_infr['Mobile'] += df_infr[c]
mobile_flds.append('Mobile')
df_infr[mobile_flds].head(5)

,Households: With Mobile Broadband,Households: With Mobile Broadband.1,Households: With Mobile Broadband.2,Households: With Mobile Broadband.3,Households: With Mobile Broadband.4,Households: Mobile Broadband Alone or With Dialup,Mobile
0,946,10433,433,37,3510,2168,17527
1,405,5577,2358,0,2146,928,11414
2,398,6377,1200,0,3450,639,12064
3,474,5624,2272,241,2137,1001,11749
4,651,6690,695,111,6760,1385,16292

In [ ]:
# Aggregate internet type by high and low connections

In [ ]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. The Community District identifiers for each DataFrame were already harmonized as the DataFrames were loaded.

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
# Harmonize identifier of dataframe 3

In [195]:
# Link the 3 dataframes
#comp_by_board.reset_index(inplace=True)
comp_by_board['cd_id'] = comp_by_board['Community Board']
df_merge = pd.merge(comp_by_board, df_pop_slim, on='cd_id')
df_merge = pd.merge(df_merge, df_infr, on='cd_id')
df_merge.head(5)

,level_0,index,Community Board,Borough,Complaints,cd_id,FIPS_x,Total Population,Population Density (per sq. mile),% Population 5 Years And Over: Speak Only English,...,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer,Mobile
0,0,0,01 BRONX,BRONX,74631,01 BRONX,3603710,167147,34412.07524,27.49,...,2412,17066,62.68,52191,39141,0,30958,8183,13050,15981
1,1,1,01 BROOKLYN,BROOKLYN,185057,01 BROOKLYN,3604001,154713,37671.51058,72.48,...,2451,13526,74.64,62990,52660,449,46148,6063,10330,21459
2,2,2,01 MANHATTAN,MANHATTAN,77974,01 MANHATTAN,3603810,159903,53928.05360,65.31,...,3089,6193,88.95,83976,79890,132,74339,5419,4086,41450
3,3,3,01 QUEENS,QUEENS,171484,01 QUEENS,3604101,182860,35800.75960,66.19,...,1815,12082,81.66,75758,66023,277,60733,5013,9735,31144
4,4,4,01 STATEN ISLAND,STATEN ISLAND,182708,01 STATEN ISLAND,3603903,176338,12537.60496,71.43,...,1340,13521,76.05,62047,50159,134,46362,3663,11888,11151

In [188]:
df_merge.columns

Index([u'index', u'Community Board', u'Borough', u'Complaints', u'cd_id',
       u'FIPS_x', u'Total Population', u'Population Density (per sq. mile)',
       u'% Population 5 Years And Over: Speak Only English',
       u'Population 25 Years and over: Bachelor's degree or more',
       u'Population 25 Years and over: Master's degree or more',
       u'Population 25 Years and over: Professional school degree or more',
       u'Population 25 Years and over: Doctorate degree.1', u'English Only',
       u'FIPS_y', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer', u'Mobile'],
      dtype='object')

In [197]:
# Are the demographics and infrastructure different in Community Districts that
# show more complaints than others?
# Try running a regression against several of the demographic variables and see how
# strong the correlation is. Looking for p-value < 0.05
import statsmodels.api as sm
df_merge["Complaints Per1000"] = df_merge.Complaints * 1000 / df_merge['Total Population']
df_merge['Pct College'] = (df_merge["Population 25 Years and over: Bachelor's degree or more"] /
  df_merge["Total Population"] * 100)
df_merge['Pct Mobile'] = df_merge['Mobile'] * 100 / df_merge['Households']
ind_vars = ['% Population 5 Years And Over: Speak Only English', "Low Income",
            'Population Density (per sq. mile)', "Pct College", 'Pct Mobile']
model = sm.OLS(df_merge["Complaints Per1000"], sm.add_constant(df_merge[ind_vars]),
               missing='drop').fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Complaints Per1000   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.143
Method:                 Least Squares   F-statistic:                     2.797
Date:                Sun, 13 Nov 2016   Prob (F-statistic):             0.0267
Time:                        19:48:10   Log-Likelihood:                -373.39
No. Observations:                  55   AIC:                             758.8
Df Residuals:                      49   BIC:                             770.8
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------------------------------------------
const                                              1243.2125    218.189      5.698      0.000       804.745  1681.680
% Population 5 Years And Over: Speak Only English     2.0582      1.887      1.091      0.281        -1.733     5.850
Low Income                                          -11.7640      4.329     -2.717      0.009       -20.464    -3.065
Population Density (per sq. mile)                     0.0053      0.002      3.089      0.003         0.002     0.009
Pct College                                         -11.3356      4.413     -2.569      0.013       -20.204    -2.467
Pct Mobile                                            0.0322      5.135      0.006      0.995       -10.286    10.351
==============================================================================
Omnibus:                        1.172   Durbin-Watson:                   2.528
Prob(Omnibus):                  0.557   Jarque-Bera (JB):                1.215
Skew:                           0.283   Prob(JB):                        0.545
Kurtosis:                       2.543   Cond. No.                     3.61e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.61e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In the absence of the Low Income variable, none of the variables in this set had a p-value below 0.05. However, adding the Low Income variable resulted in the coefficients for Population Density (positive) and Pct College (negative) becoming significant. In addition, a higher percentage low income results in fewer complaints per capita with a p-value of .009, which is less than .05.