# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of the results 
5. Inform the results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog.

In [1]:
import os
import pandas as pd
import numpy as np
import re
import string
PUIdata = os.getenv('PUIDATA')

In [2]:
# Load dataset
datfile = "/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9"
c311reqs = pd.read_csv(datfile, header=0)
c311reqs.shape

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(10187766, 53)

In [3]:
c311reqs.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. Think about possible measurement errors
Are there any problems regarding possible measurement error? Who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [4]:
# Check if all Boroughs and Community Districts are represented in the Data 
boroughs = c311reqs.groupby(["Borough"]).agg('count')
boroughs["Park Borough"]

Borough
BRONX            1665625
BROOKLYN         2831932
MANHATTAN        1900005
QUEENS           2189760
STATEN ISLAND     490998
Unspecified      1109446
Name: Park Borough, dtype: int64

In [5]:
# How many unique values do we have?

"""
There should be 59, 12 each in Bronx and Manhattan, 14 in Queens, 18 in Brooklyn and
3 in Staten Island

However, there is an unspecified borough (1.1 million records), an unspecified community
board for each borough (rough 200,000 per borough except SI which is 50,000), and a set
of invalid boards for each borough (anything over 18, about 8,000 for Queens and less than
2,000 for all other boroughs).
"""

com_grp = c311reqs[['Community Board','Borough','Agency']].groupby(["Community Board",'Borough'])
com_dists = com_grp.agg('count')
com_dists.rename(columns={"Agency" : "Complaints"}, inplace=True)
print(len(com_dists))
dists_list = com_dists.sort_index(level=1)
for dist in com_dists.itertuples():
    print(dist)

77
Pandas(Index=('0 Unspecified', 'Unspecified'), Complaints=1109446)
Pandas(Index=('01 BRONX', 'BRONX'), Complaints=74631)
Pandas(Index=('01 BROOKLYN', 'BROOKLYN'), Complaints=185057)
Pandas(Index=('01 MANHATTAN', 'MANHATTAN'), Complaints=77974)
Pandas(Index=('01 QUEENS', 'QUEENS'), Complaints=171484)
Pandas(Index=('01 STATEN ISLAND', 'STATEN ISLAND'), Complaints=182713)
Pandas(Index=('02 BRONX', 'BRONX'), Complaints=60257)
Pandas(Index=('02 BROOKLYN', 'BROOKLYN'), Complaints=121022)
Pandas(Index=('02 MANHATTAN', 'MANHATTAN'), Complaints=133860)
Pandas(Index=('02 QUEENS', 'QUEENS'), Complaints=114333)
Pandas(Index=('02 STATEN ISLAND', 'STATEN ISLAND'), Complaints=121132)
Pandas(Index=('03 BRONX', 'BRONX'), Complaints=75134)
Pandas(Index=('03 BROOKLYN', 'BROOKLYN'), Complaints=197306)
Pandas(Index=('03 MANHATTAN', 'MANHATTAN'), Complaints=150296)
Pandas(Index=('03 QUEENS', 'QUEENS'), Complaints=122009)
Pandas(Index=('03 STATEN ISLAND', 'STATEN ISLAND'), Complaints=136487)
Pandas(Index=('04 BRONX', 'BRONX'), Complaints=181953)
Pandas(Index=('04 BROOKLYN', 'BROOKLYN'), Complaints=139706)
Pandas(Index=('04 MANHATTAN', 'MANHATTAN'), Complaints=132660)
Pandas(Index=('04 QUEENS', 'QUEENS'), Complaints=99316)
Pandas(Index=('05 BRONX', 'BRONX'), Complaints=161078)
Pandas(Index=('05 BROOKLYN', 'BROOKLYN'), Complaints=189765)
Pandas(Index=('05 MANHATTAN', 'MANHATTAN'), Complaints=142028)
Pandas(Index=('05 QUEENS', 'QUEENS'), Complaints=168570)
Pandas(Index=('06 BRONX', 'BRONX'), Complaints=99547)
Pandas(Index=('06 BROOKLYN', 'BROOKLYN'), Complaints=114029)
Pandas(Index=('06 MANHATTAN', 'MANHATTAN'), Complaints=104249)
Pandas(Index=('06 QUEENS', 'QUEENS'), Complaints=90938)
Pandas(Index=('07 BRONX', 'BRONX'), Complaints=185729)
Pandas(Index=('07 BROOKLYN', 'BROOKLYN'), Complaints=107031)
Pandas(Index=('07 MANHATTAN', 'MANHATTAN'), Complaints=151419)
Pandas(Index=('07 QUEENS', 'QUEENS'), Complaints=195961)
Pandas(Index=('08 BRONX', 'BRONX'), Complaints=92733)
Pandas(Index=('08 BROOKLYN', 'BROOKLYN'), Complaints=141119)
Pandas(Index=('08 MANHATTAN', 'MANHATTAN'), Complaints=149076)
Pandas(Index=('08 QUEENS', 'QUEENS'), Complaints=123131)
Pandas(Index=('09 BRONX', 'BRONX'), Complaints=147457)
Pandas(Index=('09 BROOKLYN', 'BROOKLYN'), Complaints=135833)
Pandas(Index=('09 MANHATTAN', 'MANHATTAN'), Complaints=127565)
Pandas(Index=('09 QUEENS', 'QUEENS'), Complaints=151242)
Pandas(Index=('10 BRONX', 'BRONX'), Complaints=95496)
Pandas(Index=('10 BROOKLYN', 'BROOKLYN'), Complaints=111837)
Pandas(Index=('10 MANHATTAN', 'MANHATTAN'), Complaints=137344)
Pandas(Index=('10 QUEENS', 'QUEENS'), Complaints=128116)
Pandas(Index=('11 BRONX', 'BRONX'), Complaints=122081)
Pandas(Index=('11 BROOKLYN', 'BROOKLYN'), Complaints=139890)
Pandas(Index=('11 MANHATTAN', 'MANHATTAN'), Complaints=95413)
Pandas(Index=('11 QUEENS', 'QUEENS'), Complaints=101908)
Pandas(Index=('12 BRONX', 'BRONX'), Complaints=168455)
Pandas(Index=('12 BROOKLYN', 'BROOKLYN'), Complaints=150320)
Pandas(Index=('12 MANHATTAN', 'MANHATTAN'), Complaints=268053)
Pandas(Index=('12 QUEENS', 'QUEENS'), Complaints=229383)
Pandas(Index=('13 BROOKLYN', 'BROOKLYN'), Complaints=72362)
Pandas(Index=('13 QUEENS', 'QUEENS'), Complaints=163851)
Pandas(Index=('14 BROOKLYN', 'BROOKLYN'), Complaints=187794)
Pandas(Index=('14 QUEENS', 'QUEENS'), Complaints=103396)
Pandas(Index=('15 BROOKLYN', 'BROOKLYN'), Complaints=146129)
Pandas(Index=('16 BROOKLYN', 'BROOKLYN'), Complaints=85467)
Pandas(Index=('17 BROOKLYN', 'BROOKLYN'), Complaints=191720)
Pandas(Index=('18 BROOKLYN', 'BROOKLYN'), Complaints=156100)
Pandas(Index=('26 BRONX', 'BRONX'), Complaints=397)
Pandas(Index=('27 BRONX', 'BRONX'), Complaints=469)
Pandas(Index=('28 BRONX', 'BRONX'), Complaints=433)
Pandas(Index=('55 BROOKLYN', 'BROOKLYN'), Complaints=767)
Pandas(Index=('56 BROOKLYN', 'BROOKLYN'), Complaints=834)
Pandas(Index=('64 MANHATTAN', 'MANHATTAN'), Complaints=904)
Pandas(Index=('80 QUEENS', 'QUEENS'), Complaints=2363)
Pandas(Index=('81 QUEENS', 'QUEENS'), Complaints=1420)
Pandas(Index=('82 QUEENS', 'QUEENS'), Complaints=725)
Pandas(Index=('83 QUEENS', 'QUEENS'), Complaints=3072)
Pandas(Index=('84 QUEENS', 'QUEENS'), Complaints=274)
Pandas(Index=('95 STATEN ISLAND', 'STATEN ISLAND'), Complaints=531)
Pandas(Index=('Unspecified BRONX', 'BRONX'), Complaints=199775)
Pandas(Index=('Unspecified BROOKLYN', 'BROOKLYN'), Complaints=257844)
Pandas(Index=('Unspecified MANHATTAN', 'MANHATTAN'), Complaints=229164)
Pandas(Index=('Unspecified QUEENS', 'QUEENS'), Complaints=218268)
Pandas(Index=('Unspecified STATEN ISLAND', 'STATEN ISLAND'), Complaints=50135)

In [ ]:
# Why do we have so many? Some of them are unspecified, missing. Some are invalid entries. 
# We should have 59 Community Districts.

In [6]:
# Check for duplicates? Are these plausible?
# There are 22 unique key entries that are duplicates of other unique keys in set
print(len(c311reqs["Unique Key"]))
print(len(c311reqs["Unique Key"].unique()))

10187766
10187744

In [7]:
dups = c311reqs['Unique Key'].duplicated()
dups.shape

(10187766,)

In [8]:
# Nearly all of the duplicates are rodents. The two exceptions also relate to unsanitary animals
isdup = dups[dups == True]
isdup
dupreqs = c311reqs.loc[isdup.index]
print(len(dupreqs['Unique Key'].unique()))
dupreqs

22

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
4248298,26003579,07/26/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,131 HARRISON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636835,-74.138796,"(40.63683487948972, -74.13879629882382)"
4253082,26020434,07/25/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10462,1909 BARNES AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.848845,-73.863631,"(40.8488451919449, -73.86363125763393)"
4253086,26012011,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,440 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664148,-73.945482,"(40.66414769632634, -73.94548172836168)"
4253091,26002968,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11237,406 SUYDAM STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705703,-73.920175,"(40.705702500630075, -73.92017516512333)"
4253092,26020332,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11213,780 ST MARKS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675023,-73.946814,"(40.67502312706964, -73.94681393618372)"
4253095,26033513,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,60 AVENUE B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636351,-74.129806,"(40.63635131789832, -74.12980576711388)"
4253097,26011524,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10031,1484 AMSTERDAM AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817860,-73.953008,"(40.817859804380014, -73.95300779968848)"
4253098,26011777,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11221,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691219,-73.939679,"(40.6912192567118, -73.93967921077531)"
4253100,26011611,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10467,2309 HOLLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.859953,-73.865586,"(40.85995256353461, -73.86558595844559)"
4253101,26028900,07/25/2013 12:00:00 AM,08/06/2013 10:54:57 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,22 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636904,-74.128820,"(40.63690412970023, -74.12881960785445)"
4253103,26011682,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Mouse Sighting,3+ Family Apt. Building,11237,398 STANHOPE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705085,-73.916053,"(40.705084740960004, -73.9160534139846)"
4253104,26028912,07/25/2013 12:00:00 AM,08/06/2013 10:41:46 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Waste,1-2 Family Dwelling,10302,18 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636934,-74.128809,"(40.63693433443217, -74.12880885701975)"
4253106,26033604,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,456 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.663665,-73.945529,"(40.66366463760264, -73.94552898151792)"
4257847,26050731,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11237,14 IRVING AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705429,-73.925665,"(40.70542895549614, -73.92566496179228)"
4257850,26048748,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11210,1521 EAST 23 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613212,-73.951070,"(40.613212457611496, -73.95107004320182)"
4257854,26044811,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11201,30 COLUMBIA PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692997,-73.998677,"(40.692997199564864, -73.99867657112512)"
4257859,26045795,07/24/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11207,1493 BUSHWICK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.683062,-73.906815,"(40.683061832920096, -73.90681490555575)"
4257860,26047763,07/24/2013 12:00:00 AM,08/01/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10011,456 WEST 22 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.746476,-74.003378,"(40.74647604427205, -74.00337799399065)"
4257862,26049793,07/24/2013 12:00:00 AM,08/09/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11233,1819 PROSPECT PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672458,-73.915918,"(40.67245754368937, -73.91591783719936)"
4257863,26048661,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11230,1259 EAST 13 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.618893,-73.962081,"(40.61889284968798, -73.96208101005551)"
4257866,26044898,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10302,111 INNIS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634368,-74.144581,"(40.63436841871342, -74.144581045052)"
4257868,26050656,07/24/2013 12:00:00 AM,08/06/2013 11:37:06 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Odor,3+ Family Apartment Building,11225,580 EMPIRE BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664070,-73.943110,"(40.66406969404813, -73.9431100244629)"

In [9]:
# Remove duplicates
notdup = dups[dups == False]
c311reqs = c311reqs.loc[notdup.index]
c311reqs.shape

(10187744, 53)

In [10]:
# What about missing values? Can you detect any patterns? 
# Unique Key, Agency, Complaint Type, Status, Borough and a few others all have no missing values
# Landmark, Facility Type, Vehicle Type, Bridge Highway, Ferry, are mostly or all missing
c311reqs.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197705
Street Name                        2198558
Cross Street 1                     2375942
Cross Street 2                     2425792
Intersection Street 1              8345267
Intersection Street 2              8346281
Address Type                        490299
City                                788712
Landmark                          10180434
Facility Type                      8579463
Status                                   0
Due Date                           7120286
Resolution Description             3786739
Resolution Action Updated Date      250932
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185390
Vehicle Type                      10180242
Taxi Company Borough              10177579
Taxi Pick Up Location             10089185
Bridge Highway Name               10152649
Bridge Highway Direction          10152701
Road Ramp                         10152964
Bridge Highway Segment            10135758
Garage Lot Name                   10183411
Ferry Direction                   10185001
Ferry Terminal Name               10181220
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

In [11]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 

c311reqs["valid_board"] = np.ones(len(c311reqs.Borough), np.float)
for bname in com_dists.itertuples():
    if re.match(r"[01]\d", bname[0][0]) == None:
        c311reqs.valid_board.loc[c311reqs['Community Board'] == bname[0][0]] = np.nan
c311reqs.valid_board.isnull().sum()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

2076821

In [12]:
# Drop the marked districts
c311reqs = c311reqs[~c311reqs['valid_board'].isnull()]

In [13]:
# Produce your result: Generate an indicator which ranks the Community District by
# complaint numbers on the Community district level
c311reqs['Complaints'] = np.zeros(len(c311reqs.valid_board))
com_grp = c311reqs[['Community Board', 'Borough',
                    'Complaints']].groupby(['Community Board', 'Borough'])
comp_by_board = com_grp.agg({'Complaints' : 'count'})
comp_by_board.reset_index(inplace=True)
comp_by_board

     Community Board        Borough  Complaints
0           01 BRONX          BRONX       74631
1        01 BROOKLYN       BROOKLYN      185057
2       01 MANHATTAN      MANHATTAN       77974
3          01 QUEENS         QUEENS      171484
4   01 STATEN ISLAND  STATEN ISLAND      182708
5           02 BRONX          BRONX       60257
6        02 BROOKLYN       BROOKLYN      121021
7       02 MANHATTAN      MANHATTAN      133860
8          02 QUEENS         QUEENS      114333
9   02 STATEN ISLAND  STATEN ISLAND      121132
10          03 BRONX          BRONX       75134
11       03 BROOKLYN       BROOKLYN      197305
12      03 MANHATTAN      MANHATTAN      150296
13         03 QUEENS         QUEENS      122009
14  03 STATEN ISLAND  STATEN ISLAND      136487
15          04 BRONX          BRONX      181953
16       04 BROOKLYN       BROOKLYN      139702
17      04 MANHATTAN      MANHATTAN      132659
18         04 QUEENS         QUEENS       99316
19          05 BRONX          BRONX      161078
20       05 BROOKLYN       BROOKLYN      189765
21      05 MANHATTAN      MANHATTAN      142028
22         05 QUEENS         QUEENS      168570
23          06 BRONX          BRONX       99547
24       06 BROOKLYN       BROOKLYN      114029
25      06 MANHATTAN      MANHATTAN      104249
26         06 QUEENS         QUEENS       90938
27          07 BRONX          BRONX      185729
28       07 BROOKLYN       BROOKLYN      107031
29      07 MANHATTAN      MANHATTAN      151419
30         07 QUEENS         QUEENS      195961
31          08 BRONX          BRONX       92733
32       08 BROOKLYN       BROOKLYN      141118
33      08 MANHATTAN      MANHATTAN      149076
34         08 QUEENS         QUEENS      123131
35          09 BRONX          BRONX      147457
36       09 BROOKLYN       BROOKLYN      135830
37      09 MANHATTAN      MANHATTAN      127564
38         09 QUEENS         QUEENS      151242
39          10 BRONX          BRONX       95496
40       10 BROOKLYN       BROOKLYN      111837
41      10 MANHATTAN      MANHATTAN      137344
42         10 QUEENS         QUEENS      128116
43          11 BRONX          BRONX      122079
44       11 BROOKLYN       BROOKLYN      139890
45      11 MANHATTAN      MANHATTAN       95413
46         11 QUEENS         QUEENS      101908
47          12 BRONX          BRONX      168455
48       12 BROOKLYN       BROOKLYN      150320
49      12 MANHATTAN      MANHATTAN      268053
50         12 QUEENS         QUEENS      229383
51       13 BROOKLYN       BROOKLYN       72362
52         13 QUEENS         QUEENS      163851
53       14 BROOKLYN       BROOKLYN      187792
54         14 QUEENS         QUEENS      103396
55       15 BROOKLYN       BROOKLYN      146129
56       16 BROOKLYN       BROOKLYN       85466
57       17 BROOKLYN       BROOKLYN      191720
58       18 BROOKLYN       BROOKLYN      156100

In [ ]:
# Safe reduced data frame (Community District level)

# 4. Think about the interpretation of these results?
What do you have to keep in mind when interpreting these results? Are they generable? Does the way the data is collected influence the results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to the analysis data.

In [14]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [15]:
# Check variables in file
for cname in df_pop.columns:
    print(cname)

FIPS
cd_id
Total Population
Population Density (per sq. mile)
% Total Population: Male
% Total Population: 18 to 24 Years
% Total Population: 25 to 34 Years
% Total Population: 35 to 44 Years
% Population 5 Years And Over: Speak Only English
% Population 5 Years And Over: Spanish or Spanish Creole
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"
Population 25 Years and over:
Population 25 Years and over: Less Than High School
Population 25 Years and over: High School Graduate (includes equivalency)
Population 25 Years and over: Some college
Population 25 Years and over: Bachelor's degree
Population 25 Years and over: Master's degree
Population 25 Years and over: Professional school degree
Population 25 Years and over: Doctorate degree
% Population 25 Years and over: Less Than High School
% Population 25 Years and over: High School Graduate (includes equivalency)
% Population 25 Years and over: Some college
% Population 25 Years and over: Bachelor's degree
% Population 25 Years and over: Master's degree
% Population 25 Years and over: Professional school degree
% Population 25 Years and over: Doctorate degree
Population 25 Years and over:.1
Population 25 Years and over: Less Than High School.1
Population 25 Years and over: High School Graduate or more (includes equivalency)
Population 25 Years and over: Some college or more
Population 25 Years and over: Bachelor's degree or more
Population 25 Years and over: Master's degree or more
Population 25 Years and over: Professional school degree or more
Population 25 Years and over: Doctorate degree.1
% Population 25 Years and over: Less Than High School.1
% Population 25 Years and over: High School Graduate or more (includes equivalency)
% Population 25 Years and over: Some college or more
% Population 25 Years and over: Bachelor's degree or more
% Population 25 Years and over: Master's degree or more
% Population 25 Years and over: Professional school degree or more
% Population 25 Years and over: Doctorate degree.1
Population 3 Years and over:
Population 3 Years and over: Enrolled in School
Population 3 Years and over: Not Enrolled in School
% Population 3 Years and over: Enrolled in School
% Population 3 Years and over: Not Enrolled in School
Population 3 Years and over Enrolled In School
Population 3 Years and over Enrolled In School: Public School
Population 3 Years and over Enrolled In School: Public School: Pre-school
Population 3 Years and over Enrolled In School: Public School: K-8
Population 3 Years and over Enrolled In School: Public School: 9-12
Population 3 Years and over Enrolled In School: Public School: College
Population 3 Years and over Enrolled In School: Private School
Population 3 Years and over Enrolled In School: Private School: Pre-school
Population 3 Years and over Enrolled In School: Private School: K-8
Population 3 Years and over Enrolled In School: Private School: 9-12
Population 3 Years and over Enrolled In School: Private School: College
% Population 3 Years and over Enrolled In School: Public School
% Population 3 Years and over Enrolled In School: Public School: Pre-school
% Population 3 Years and over Enrolled In School: Public School: K-8
% Population 3 Years and over Enrolled In School: Public School: 9-12
% Population 3 Years and over Enrolled In School: Public School: College
% Population 3 Years and over Enrolled In School: Private School
% Population 3 Years and over Enrolled In School: Private School: Pre-school
% Population 3 Years and over Enrolled In School: Private School: K-8
% Population 3 Years and over Enrolled In School: Private School: 9-12
% Population 3 Years and over Enrolled In School: Private School: College
Employed civilian Population 16 Years and over:
Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
Employed civilian Population 16 Years and over: Professional and related occupations
Employed civilian Population 16 Years and over: Healthcare support occupations
Employed civilian Population 16 Years and over: Protective service occupations
Employed civilian Population 16 Years and over: Food preparation and serving related occupations
Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
Employed civilian Population 16 Years and over: Personal care and service occupations
Employed civilian Population 16 Years and over: Sales and related occupations
Employed civilian Population 16 Years and over: Office and administrative support occupations
Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
Employed civilian Population 16 Years and over: Production occupations
Employed civilian Population 16 Years and over: Transportation and material moving occupations
% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
% Employed civilian Population 16 Years and over: Professional and related occupations
% Employed civilian Population 16 Years and over: Healthcare support occupations
% Employed civilian Population 16 Years and over: Protective service occupations
% Employed civilian Population 16 Years and over: Food preparation and serving related occupations
% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
% Employed civilian Population 16 Years and over: Personal care and service occupations
% Employed civilian Population 16 Years and over: Sales and related occupations
% Employed civilian Population 16 Years and over: Office and administrative support occupations
% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
% Employed civilian Population 16 Years and over: Production occupations
% Employed civilian Population 16 Years and over: Transportation and material moving occupations
Employed Civilian Population 16 Years And Over:
Employed Civilian Population 16 Years And Over: Private Sector
Employed Civilian Population 16 Years And Over: Public Sector
Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
Employed Civilian Population 16 Years And Over: Private Non-Profit
Employed Civilian Population 16 Years And Over: Unpaid Family Workers
% Employed Civilian Population 16 Years And Over: Private Sector
% Employed Civilian Population 16 Years And Over: Public Sector
% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
% Employed Civilian Population 16 Years And Over: Private Non-Profit
% Employed Civilian Population 16 Years And Over: Unpaid Family Workers
Households:
Households: Less than $10,000
Households: $10,000 to $14,999
Households: $15,000 to $19,999
Households: $20,000 to $24,999
Households: $25,000 to $29,999
Households: $30,000 to $34,999
Households: $35,000 to $39,999
Households: $40,000 to $44,999
Households: $45,000 to $49,999
Households: $50,000 to $59,999
Households: $60,000 to $74,999
Households: $75,000 to $99,999
Households: $100,000 to $124,999
Households: $125,000 to $149,999
Households: $150,000 to $199,999
Households: $200,000 or More
% Households: Less than $10,000
% Households: $10,000 to $14,999
% Households: $15,000 to $19,999
% Households: $20,000 to $24,999
% Households: $25,000 to $29,999
% Households: $30,000 to $34,999
% Households: $35,000 to $39,999
% Households: $40,000 to $44,999
% Households: $45,000 to $49,999
% Households: $50,000 to $59,999
% Households: $60,000 to $74,999
% Households: $75,000 to $99,999
% Households: $100,000 to $124,999
% Households: $125,000 to $149,999
% Households: $150,000 to $199,999
% Households: $200,000 or More
Median household income (In 2014 Inflation Adjusted Dollars)
Per capita income (In 2014 Inflation Adjusted Dollars)
Employed Civilian Population 16 Years And Over:.1
Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
Employed Civilian Population 16 Years And Over: Service occupations
Employed Civilian Population 16 Years And Over: Sales and office occupations
Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations
% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
% Employed Civilian Population 16 Years And Over: Service occupations
% Employed Civilian Population 16 Years And Over: Sales and office occupations
% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations

In [16]:
# How many community districts are in file? 
df_pop.shape

(59, 158)

In [17]:
# Set some variables to refer to column names in df_pop
# Use these variables to refer to columns instead of the full names
Popn = "Total Population"
Dense = "Population Density (per sq. mile)"
PctEnglish = "% Population 5 Years And Over: Speak Only English"
PctEngWell = '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"'
PctEngNotWell = '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"'
PctBach = "% Population 25 Years and over: Bachelor's degree or more"
PctMaster = "% Population 25 Years and over: Master's degree or more"
PctProf = "% Population 25 Years and over: Professional school degree or more"
PctDoctorate = "% Population 25 Years and over: Doctorate degree.1"
Bach = "Population 25 Years and over: Bachelor's degree or more"
Master = "Population 25 Years and over: Master's degree or more"
Prof = "Population 25 Years and over: Professional school degree or more"
Doctorate = "Population 25 Years and over: Doctorate degree.1"

In [19]:
# Manipulate data to get some information on demographics by Community District. 
# Who might call 311?
# Two factors. One, the likelihood of reasons in their neighborhood to call 311.
# Two, propensity to react to one of those reasons.

# Preponderance of reasons would come with density, low income, and not speaking English well
# Likeliness of responding to such reasons would come from education
df_pop['Low Income'] = (df_pop["Households: Less than $10,000"] +
                        df_pop["Households: $10,000 to $14,999"] +
                        df_pop["Households: $15,000 to $19,999"] +
                        df_pop["Households: $20,000 to $24,999"] +
                        df_pop["Households: $25,000 to $29,999"])
df_pop['Pct Low Income'] = (df_pop["% Households: Less than $10,000"] +
                        df_pop["% Households: $10,000 to $14,999"] +
                        df_pop["% Households: $15,000 to $19,999"] +
                        df_pop["% Households: $20,000 to $24,999"] +
                        df_pop["% Households: $25,000 to $29,999"])
df_pop_slim = df_pop[["FIPS", "cd_id", Popn, Dense, PctEnglish, PctEngWell, PctEngNotWell,
                      Bach, Master, Prof, Doctorate, "Low Income", "Pct Low Income"]]
df_pop_slim["English Only"] = df_pop_slim[Popn] * df_pop_slim[PctEnglish] / 100
df_pop_slim["EngWell"] = df_pop_slim[Popn] * df_pop_slim[PctEngWell] / 100
df_pop_slim["EngNotWell"] = df_pop_slim[Popn] * df_pop_slim[PctEngNotWell] / 100
bdict = {'BX' : "BRONX", 'BK' : 'BROOKLYN', 'MN' : 'MANHATTAN', 'QN' : 'QUEENS',
        'SI' : 'STATEN ISLAND'}
df_pop_slim.cd_id = df_pop_slim.cd_id.map(lambda x: x[2:4] + " " + x[:2])
# Set the cd_id field to take the format of the identifier field in the reduced 311 DataFrame
for br in bdict.keys():
    df_pop_slim.cd_id = df_pop_slim.cd_id.map(lambda x: x.replace(br, bdict[br]))
df_pop_slim

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Population 5 Years And Over: Speak Only English,"% Population 5 Years And Over: Spanish or Spanish Creole: Speak English ""very Well""","% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than ""very Well""",Population 25 Years and over: Bachelor's degree or more,Population 25 Years and over: Master's degree or more,Population 25 Years and over: Professional school degree or more,Population 25 Years and over: Doctorate degree.1,Low Income,Pct Low Income,English Only,EngWell,EngNotWell
0,3603701,08 BRONX,106737,31229.950060,46.80,24.01,15.24,28677,13421,5205,1885,13161,31.31,49952.9160,25627.5537,16266.7188
1,3603702,12 BRONX,134644,19966.678390,73.09,12.12,6.07,20682,5466,213,151,15204,33.92,98411.2996,16318.8528,8172.8908
2,3603703,10 BRONX,121209,12913.817030,61.79,19.51,6.92,23341,8959,1361,725,12867,27.34,74895.0411,23647.8759,8387.6628
3,3603704,11 BRONX,135839,35677.954530,43.22,22.78,13.66,22500,10174,3168,1246,15169,33.76,58709.6158,30944.1242,18555.6074
4,3603705,03 BRONX,172247,39405.792220,36.82,30.09,24.14,11694,3781,1237,743,34586,60.09,63421.3454,51829.1223,41580.4258
5,3603705,06 BRONX,172247,39405.792220,28.21,31.86,27.67,11694,3781,1237,743,34586,60.09,48590.8787,54877.8942,47660.7449
6,3603706,07 BRONX,135893,86487.077920,29.10,30.34,32.15,15350,3872,905,307,20666,43.74,39544.8630,41229.9362,43689.5995
7,3603707,05 BRONX,132850,87974.348600,29.84,28.79,30.65,9931,3463,658,295,27407,61.31,39642.4400,38247.5150,40718.5250
8,3603708,04 BRONX,141467,71270.882190,42.97,26.89,20.67,13564,3501,502,385,26049,54.34,60788.3699,38040.4763,29241.2289
9,3603709,09 BRONX,190126,42752.506900,33.62,29.07,31.95,20089,5968,579,48,27570,43.08,63920.3612,55269.6282,60745.2570
10,3603710,01 BRONX,167147,34412.075240,27.49,29.48,37.06,8798,2403,670,599,32407,62.08,45948.7103,49274.9356,61944.6782
11,3603710,02 BRONX,167147,34412.075240,49.63,19.61,16.40,8798,2403,670,599,32407,62.08,82955.0561,32777.5267,27412.1080
12,3603801,12 MANHATTAN,224365,75217.432870,68.39,11.23,7.16,47549,19577,5165,2470,26167,34.71,153443.2235,25196.1895,16064.5340
13,3603802,09 MANHATTAN,130739,77402.950100,47.08,24.19,16.38,36347,16568,6250,3116,18536,39.07,61551.9212,31625.7641,21415.0482
14,3603803,10 MANHATTAN,132027,91244.889890,74.19,5.06,1.88,35363,15679,4953,1488,23621,41.39,97950.8313,6680.5662,2482.1076
15,3603804,11 MANHATTAN,129713,56066.264730,71.81,7.17,3.75,23741,8535,3503,734,24204,48.68,93146.9053,9300.4221,4864.2375
16,3603805,08 MANHATTAN,221898,109960.139600,67.27,7.61,3.92,143746,71200,29567,8200,16859,14.68,149270.7846,16886.4378,8698.4016
17,3603806,07 MANHATTAN,192374,65024.961090,73.38,5.36,1.06,117918,70490,28228,7761,16111,16.57,141164.0412,10311.2464,2039.1644
18,3603807,05 MANHATTAN,149447,48626.990950,45.29,13.08,7.56,88753,40322,11092,3979,15995,19.32,67684.5463,19547.6676,11298.1932
19,3603807,04 MANHATTAN,149447,48626.990950,73.93,4.26,1.11,88753,40322,11092,3979,15995,19.32,110486.1671,6366.4422,1658.8617
20,3603808,06 MANHATTAN,143349,87333.791040,78.30,3.39,1.13,91533,45406,15894,3462,13858,17.25,112242.2670,4859.5311,1619.8437
21,3603809,03 MANHATTAN,152453,87256.670150,63.29,4.42,2.31,53158,20357,4093,1330,30892,41.98,96487.5037,6738.4226,3521.6643
22,3603810,01 MANHATTAN,159903,53928.053600,65.31,11.77,7.54,103296,44912,16524,5801,13745,16.36,104432.6493,18820.5831,12056.6862
23,3603810,02 MANHATTAN,159903,53928.053600,44.94,12.89,9.45,103296,44912,16524,5801,13745,16.36,71860.4082,20611.4967,15110.8335
24,3603901,03 STATEN ISLAND,170741,6968.306388,36.45,26.79,30.27,38799,14725,2922,878,11767,20.41,62235.0945,45741.5139,51683.3007
25,3603902,02 STATEN ISLAND,126200,6371.997113,68.91,9.52,7.04,27844,11130,2573,710,9843,21.73,86964.4200,12014.2400,8884.4800
26,3603903,01 STATEN ISLAND,176338,12537.604960,71.43,9.00,4.59,34141,12633,3318,963,20070,32.34,125958.2334,15870.4200,8093.9142
27,3604001,01 BROOKLYN,154713,37671.510580,72.48,9.81,5.71,54231,17028,3956,757,18034,28.64,112135.9824,15177.3453,8834.1123
28,3604002,04 BROOKLYN,137368,54279.761230,78.17,6.30,3.57,20874,5126,874,313,18524,38.93,107380.5656,8654.1840,4904.0376
29,3604003,03 BROOKLYN,133235,58004.868160,77.10,10.83,6.47,24538,8501,1954,582,22339,44.06,102724.1850,14429.3505,8620.3045
30,3604004,02 BROOKLYN,139070,44719.888150,57.49,21.65,10.91,58666,26786,8237,2003,12473,21.80,79951.3430,30108.6550,15172.5370
31,3604005,06 BROOKLYN,125062,31218.503280,69.33,3.81,2.67,65089,32706,10699,2942,6389,12.85,86705.4846,4764.8622,3339.1554
32,3604006,08 BROOKLYN,126747,57010.543560,80.23,3.61,2.03,31471,12476,3505,1246,17912,35.64,101689.1181,4575.5667,2572.9641
33,3604007,16 BROOKLYN,123772,47796.011830,71.10,5.09,2.87,9189,2788,563,182,24058,54.35,88001.8920,6299.9948,3552.2564
34,3604008,05 BROOKLYN,155863,26394.764690,25.03,16.50,21.19,14967,4541,311,206,25458,46.18,39012.5089,25717.3950,33027.3697
35,3604009,18 BROOKLYN,210957,15374.526180,44.62,5.72,3.76,44256,17040,2751,1091,15253,21.80,94129.0134,12066.7404,7931.9832
36,3604010,17 BROOKLYN,137526,44659.444610,31.11,3.93,6.87,20843,7179,913,183,17735,34.98,42784.3386,5404.7718,9448.0362
37,3604011,09 BROOKLYN,109337,64006.179970,50.85,5.85,7.23,23453,8222,2075,339,14850,35.97,55597.8645,6396.2145,7905.0651
38,3604012,07 BROOKLYN,152685,36736.915040,43.33,3.01,2.23,27115,9608,2817,1414,15300,33.37,66158.4105,4595.8185,3404.8755
39,3604013,10 BROOKLYN,128545,33069.986680,27.63,4.14,6.62,35199,13903,4518,1217,15654,32.21,35516.9835,5321.7630,8509.6790
40,3604014,12 BROOKLYN,170011,54054.487510,31.65,4.90,6.04,26590,11316,3105,1141,17529,38.06,53808.4815,8330.5390,10268.6644
41,3604015,14 BROOKLYN,180723,62164.359800,41.83,12.48,11.68,42115,15817,2843,1176,20301,33.18,75596.4309,22554.2304,21108.4464
42,3604016,15 BROOKLYN,137815,31829.054410,16.12,24.93,37.52,40424,15985,3528,1237,17333,32.31,22215.7780,34357.2795,51708.1880
43,3604017,11 BROOKLYN,187637,50644.631520,27.57,7.33,7.47,40401,13723,2924,544,20763,33.38,51731.5209,13753.7921,14016.4839
44,3604018,13 BROOKLYN,110727,32537.409220,40.57,5.60,3.41,25370,8575,2600,376,22681,50.33,44921.9439,6200.7120,3775.7907
45,3604101,01 QUEENS,182860,35800.759600,66.19,5.66,3.59,61052,21055,4737,2059,21420,28.26,121035.0340,10349.8760,6564.6740
46,3604102,03 QUEENS,182354,44839.980490,40.08,9.50,6.20,27154,8299,2036,461,16991,30.26,73087.4832,17323.6300,11305.9480
47,3604103,07 QUEENS,256742,21836.668490,15.29,18.68,29.39,47168,17555,4459,1479,28696,32.17,39255.8518,47959.4056,75456.4738
48,3604104,11 QUEENS,120996,12991.169540,36.98,8.47,4.09,38752,16084,3758,1716,7065,16.32,44744.3208,10248.3612,4948.7364
49,3604105,13 QUEENS,193102,9812.563966,27.17,13.91,16.59,37039,13355,2755,726,10509,17.53,52465.8134,26860.4882,32035.6218
50,3604106,08 QUEENS,159330,21412.216470,47.31,15.18,10.12,39766,16770,4833,1774,14752,27.01,75379.0230,24186.2940,16124.1960
51,3604107,04 QUEENS,154740,42497.737460,40.05,20.25,14.26,25298,8259,1877,671,15247,33.21,61973.3700,31334.8500,22065.9240
52,3604108,06 QUEENS,107893,38598.784620,71.64,6.78,7.87,46322,19944,7155,2583,12764,25.08,77294.5452,7315.1454,8491.1791
53,3604109,02 QUEENS,150100,25142.587280,65.22,12.38,6.76,38550,14103,3403,1096,12244,23.25,97895.2200,18582.3800,10146.7600
54,3604110,05 QUEENS,168488,23005.322980,68.93,8.97,9.12,30366,9969,1823,419,15970,26.47,116138.7784,15113.3736,15366.1056
55,3604111,09 QUEENS,151202,31804.100680,NaN,NaN,NaN,23875,8147,2128,455,10148,22.57,NaN,NaN,NaN
56,3604112,12 QUEENS,251002,27089.677200,NaN,NaN,NaN,35565,11212,1604,391,21696,28.99,NaN,NaN,NaN
57,3604113,10 QUEENS,134827,21979.770830,NaN,NaN,NaN,17835,5680,1308,267,9491,24.95,NaN,NaN,NaN
58,3604114,14 QUEENS,107944,9541.923526,NaN,NaN,NaN,19733,9232,2573,763,15408,39.15,NaN,NaN,NaN

In [ ]:
# Save data frame

In [20]:
# Infrastructure by Community District
infr_file = ("http://cosmo.nyu.edu/~fb55/PUI2016/data/" +
             "ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
df_infr = pd.read_csv(infr_file)
df_infr.shape

(59, 31)

In [21]:
# Check variables in file
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [22]:
# How many community districts are in file? 
# There are 59 community districts. However, 2 pairs of districts are combined in
# Bronx and 1 in Manhattan
df_infr["Qualifying Name"]

0     NYC-Bronx Community District 8--Riverdale, New...
1     NYC-Bronx Community District 12--Wakefield, Ne...
2     NYC-Bronx Community District 10--Co-op City, N...
3     NYC-Bronx Community District 11--Pelham Parkwa...
4     NYC-Bronx Community District 3 & 6--Belmont, N...
5     NYC-Bronx Community District 3 & 6--Belmont, N...
6     NYC-Bronx Community District 7--Bedford Park, ...
7     NYC-Bronx Community District 5--Morris Heights...
8     NYC-Bronx Community District 4--Concourse, New...
9     NYC-Bronx Community District 9--Castle Hill, N...
10    NYC-Bronx Community District 1 & 2--Hunts Poin...
11    NYC-Bronx Community District 1 & 2--Hunts Poin...
12    NYC-Manhattan Community District 12--Washingto...
13    NYC-Manhattan Community District 9--Hamilton H...
14    NYC-Manhattan Community District 10--Central H...
15    NYC-Manhattan Community District 11--East Harl...
16    NYC-Manhattan Community District 8--Upper East...
17    NYC-Manhattan Community District 7--Upper West...
18    NYC-Manhattan Community District 4 & 5--Chelse...
19    NYC-Manhattan Community District 4 & 5--Chelse...
20    NYC-Manhattan Community District 6--Murray Hil...
21    NYC-Manhattan Community District 3--Chinatown ...
22    NYC-Manhattan Community District 1 & 2--Batter...
23    NYC-Manhattan Community District 1 & 2--Batter...
24    NYC-Staten Island Community District 3--Totten...
25    NYC-Staten Island Community District 2--New Sp...
26    NYC-Staten Island Community District 1--Port R...
27    NYC-Brooklyn Community District 1--Greenpoint ...
28    NYC-Brooklyn Community District 4--Bushwick PU...
29    NYC-Brooklyn Community District 3--Bedford-Stu...
30    NYC-Brooklyn Community District 2--Brooklyn He...
31    NYC-Brooklyn Community District 6--Park Slope,...
32    NYC-Brooklyn Community District 8--Crown Heigh...
33    NYC-Brooklyn Community District 16--Brownsvill...
34    NYC-Brooklyn Community District 5--East New Yo...
35    NYC-Brooklyn Community District 18--Canarsie &...
36    NYC-Brooklyn Community District 17--East Flatb...
37    NYC-Brooklyn Community District 9--Crown Heigh...
38    NYC-Brooklyn Community District 7--Sunset Park...
39    NYC-Brooklyn Community District 10--Bay Ridge ...
40    NYC-Brooklyn Community District 12--Borough Pa...
41    NYC-Brooklyn Community District 14--Flatbush &...
42    NYC-Brooklyn Community District 15--Sheepshead...
43    NYC-Brooklyn Community District 11--Bensonhurs...
44    NYC-Brooklyn Community District 13--Brighton B...
45    NYC-Queens Community District 1--Astoria & Lon...
46    NYC-Queens Community District 3--Jackson Heigh...
47    NYC-Queens Community District 7--Flushing, New...
48    NYC-Queens Community District 11--Bayside, New...
49    NYC-Queens Community District 13--Queens Villa...
50    NYC-Queens Community District 8--Briarwood, Ne...
51    NYC-Queens Community District 4--Elmhurst & So...
52    NYC-Queens Community District 6--Forest Hills ...
53    NYC-Queens Community District 2--Sunnyside & W...
54    NYC-Queens Community District 5--Ridgewood, Ne...
55    NYC-Queens Community District 9--Richmond Hill...
56    NYC-Queens Community District 12--Jamaica, New...
57    NYC-Queens Community District 10--Howard Beach...
58    NYC-Queens Community District 14--Far Rockaway...
Name: Qualifying Name, dtype: object

In [23]:
# Create the field "cd_id" and set it to the same format of the Community Board
# name as in the 311 DataFrame

# 3 of the boards are combined in this dataset.
# this dict will allow keeping track
# of which board names from the internet dataset have been processed
cdists = {}
def set_cd_id(qname):
    # qname - name of community board as it appears in the internet dataset
    # return the name as it appears in the 311 dataset
    # first remove the "NYC-" at the start of the string
    qname = qname[4:]
    Qname = qname.upper()
    Qname = Qname.replace("-", " ")
    wds = Qname.split(' ')
    # then grab the borough name, which consists of the first or first two words
    bname = wds[0]
    wds = wds[1:]
    if bname == "STATEN":
        bname += " " + wds[0]
        wds = wds[1:]
    # next two words are "Community" and "District" followed by the board number
    wds = wds[2:]
    qnum = "{:02d}".format(int(wds[0]))
    # if the borough and number has already been done, take the next number
    if qnum + " " + bname in cdists.keys():
        qnum = "{:02d}".format(int(wds[2]))
    dname = qnum + " " + bname
    cdists[dname] = 1
    return dname

df_infr["cd_id"] = df_infr["Geographic Identifier"]
for rw in range(59):
    df_infr.cd_id.iloc[rw] = set_cd_id(df_infr['Qualifying Name'].iloc[rw])
df_infr[["Qualifying Name", "Households", "Households: With An Internet Subscription", "cd_id"]]

,Qualifying Name,Households,Households: With An Internet Subscription,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,08 BRONX
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,12 BRONX
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,10 BRONX
3,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,11 BRONX
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,03 BRONX
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,06 BRONX
6,"NYC-Bronx Community District 7--Bedford Park, ...",47252,31468,07 BRONX
7,NYC-Bronx Community District 5--Morris Heights...,44699,26332,05 BRONX
8,"NYC-Bronx Community District 4--Concourse, New...",47935,29376,04 BRONX
9,"NYC-Bronx Community District 9--Castle Hill, N...",64011,45976,09 BRONX
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,01 BRONX
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,02 BRONX
12,NYC-Manhattan Community District 12--Washingto...,75352,56940,12 MANHATTAN
13,NYC-Manhattan Community District 9--Hamilton H...,47440,35281,09 MANHATTAN
14,NYC-Manhattan Community District 10--Central H...,57064,36469,10 MANHATTAN
15,NYC-Manhattan Community District 11--East Harl...,49721,30630,11 MANHATTAN
16,NYC-Manhattan Community District 8--Upper East...,114838,103065,08 MANHATTAN
17,NYC-Manhattan Community District 7--Upper West...,97229,85575,07 MANHATTAN
18,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,04 MANHATTAN
19,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,05 MANHATTAN
20,NYC-Manhattan Community District 6--Murray Hil...,80268,70507,06 MANHATTAN
21,NYC-Manhattan Community District 3--Chinatown ...,73578,46168,03 MANHATTAN
22,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,01 MANHATTAN
23,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,02 MANHATTAN
24,NYC-Staten Island Community District 3--Totten...,57658,49218,03 STATEN ISLAND
25,NYC-Staten Island Community District 2--New Sp...,45266,35085,02 STATEN ISLAND
26,NYC-Staten Island Community District 1--Port R...,62047,47186,01 STATEN ISLAND
27,NYC-Brooklyn Community District 1--Greenpoint ...,62990,47013,01 BROOKLYN
28,NYC-Brooklyn Community District 4--Bushwick PU...,47580,33314,04 BROOKLYN
29,NYC-Brooklyn Community District 3--Bedford-Stu...,50688,33438,03 BROOKLYN
30,NYC-Brooklyn Community District 2--Brooklyn He...,57188,46110,02 BROOKLYN
31,"NYC-Brooklyn Community District 6--Park Slope,...",49709,44770,06 BROOKLYN
32,NYC-Brooklyn Community District 8--Crown Heigh...,50266,35043,08 BROOKLYN
33,NYC-Brooklyn Community District 16--Brownsvill...,44269,25372,16 BROOKLYN
34,NYC-Brooklyn Community District 5--East New Yo...,55136,37464,05 BROOKLYN
35,NYC-Brooklyn Community District 18--Canarsie &...,69980,54253,18 BROOKLYN
36,NYC-Brooklyn Community District 17--East Flatb...,50711,35675,17 BROOKLYN
37,NYC-Brooklyn Community District 9--Crown Heigh...,41281,28686,09 BROOKLYN
38,NYC-Brooklyn Community District 7--Sunset Park...,45848,35725,07 BROOKLYN
39,NYC-Brooklyn Community District 10--Bay Ridge ...,48591,37983,10 BROOKLYN
40,NYC-Brooklyn Community District 12--Borough Pa...,46062,28128,12 BROOKLYN
41,NYC-Brooklyn Community District 14--Flatbush &...,61174,45090,14 BROOKLYN
42,NYC-Brooklyn Community District 15--Sheepshead...,53639,40467,15 BROOKLYN
43,NYC-Brooklyn Community District 11--Bensonhurs...,62220,46126,11 BROOKLYN
44,NYC-Brooklyn Community District 13--Brighton B...,45070,28238,13 BROOKLYN
45,NYC-Queens Community District 1--Astoria & Lon...,75758,61861,01 QUEENS
46,NYC-Queens Community District 3--Jackson Heigh...,56146,40561,03 QUEENS
47,"NYC-Queens Community District 7--Flushing, New...",89206,68446,07 QUEENS
48,"NYC-Queens Community District 11--Bayside, New...",43279,37361,11 QUEENS
49,NYC-Queens Community District 13--Queens Villa...,59953,50330,13 QUEENS
50,"NYC-Queens Community District 8--Briarwood, Ne...",54629,43887,08 QUEENS
51,NYC-Queens Community District 4--Elmhurst & So...,45916,33634,04 QUEENS
52,NYC-Queens Community District 6--Forest Hills ...,50896,41674,06 QUEENS
53,NYC-Queens Community District 2--Sunnyside & W...,52641,44193,02 QUEENS
54,"NYC-Queens Community District 5--Ridgewood, Ne...",60344,48488,05 QUEENS
55,NYC-Queens Community District 9--Richmond Hill...,44971,36258,09 QUEENS
56,"NYC-Queens Community District 12--Jamaica, New...",74848,53848,12 QUEENS
57,NYC-Queens Community District 10--Howard Beach...,38041,30313,10 QUEENS
58,NYC-Queens Community District 14--Far Rockaway...,39357,28841,14 QUEENS

In [24]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
mobile_flds = []
for fld in df_infr.columns:
    if re.search("With Mobile", fld) or re.search("Households: Mobile", fld):
        mobile_flds.append(fld)
df_infr['Mobile'] = df_infr[mobile_flds[0]]
for c in mobile_flds[1:]:
    df_infr['Mobile'] += df_infr[c]
mobile_flds.append('Mobile')
df_infr[mobile_flds].head(5)

,Households: With Mobile Broadband,Households: With Mobile Broadband.1,Households: With Mobile Broadband.2,Households: With Mobile Broadband.3,Households: With Mobile Broadband.4,Households: Mobile Broadband Alone or With Dialup,Mobile
0,946,10433,433,37,3510,2168,17527
1,405,5577,2358,0,2146,928,11414
2,398,6377,1200,0,3450,639,12064
3,474,5624,2272,241,2137,1001,11749
4,651,6690,695,111,6760,1385,16292

In [29]:
# Aggregate internet type by high and low connections
df_infr.rename(columns={'Households: With A Broadband Internet Subscription' : "high_speed",
                        'Households: With Dial-Up Internet Subscription Alone' : "low_speed"},
               inplace=True)
df_infr.head(5)

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,low_speed,high_speed,Households: Without An Internet Subscription,Households: No Computer,cd_id,Mobile
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,8121,75.64,42035,35048,404,30943,3701,6987,08 BRONX,17527
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,10696,71.92,44830,36700,178,31435,5087,8130,12 BRONX,11414
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,11439,69.56,47050,38700,158,32333,6209,8350,10 BRONX,12064
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,10197,71.24,44922,37237,122,31278,5837,7685,11 BRONX,11749
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,18741,61.68,57556,42576,88,33408,9080,14980,03 BRONX,16292

In [ ]:
# Save data frame

# 5. Inform your results by linking datasets
Now link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. The Community District identifiers for each DataFrame were already harmonized as the DataFrames were loaded.

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
# Harmonize identifier of dataframe 3

In [30]:
# Link the 3 dataframes
comp_by_board['cd_id'] = comp_by_board['Community Board']
df_merge = pd.merge(comp_by_board, df_pop_slim, on='cd_id')
df_merge = pd.merge(df_merge, df_infr, on='cd_id')
df_merge.head(5)

,Community Board,Borough,Complaints,cd_id,FIPS_x,Total Population,Population Density (per sq. mile),% Population 5 Years And Over: Speak Only English,"% Population 5 Years And Over: Spanish or Spanish Creole: Speak English ""very Well""","% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than ""very Well""",...,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,low_speed,high_speed,Households: Without An Internet Subscription,Households: No Computer,Mobile
0,01 BRONX,BRONX,74631,01 BRONX,3603710,167147,34412.07524,27.49,29.48,37.06,...,2412,17066,62.68,52191,39141,0,30958,8183,13050,15981
1,01 BROOKLYN,BROOKLYN,185057,01 BROOKLYN,3604001,154713,37671.51058,72.48,9.81,5.71,...,2451,13526,74.64,62990,52660,449,46148,6063,10330,21459
2,01 MANHATTAN,MANHATTAN,77974,01 MANHATTAN,3603810,159903,53928.05360,65.31,11.77,7.54,...,3089,6193,88.95,83976,79890,132,74339,5419,4086,41450
3,01 QUEENS,QUEENS,171484,01 QUEENS,3604101,182860,35800.75960,66.19,5.66,3.59,...,1815,12082,81.66,75758,66023,277,60733,5013,9735,31144
4,01 STATEN ISLAND,STATEN ISLAND,182708,01 STATEN ISLAND,3603903,176338,12537.60496,71.43,9.00,4.59,...,1340,13521,76.05,62047,50159,134,46362,3663,11888,11151

In [31]:
df_merge.columns

Index([u'Community Board', u'Borough', u'Complaints', u'cd_id', u'FIPS_x',
       u'Total Population', u'Population Density (per sq. mile)',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"',
       u'% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"',
       u'Population 25 Years and over: Bachelor's degree or more',
       u'Population 25 Years and over: Master's degree or more',
       u'Population 25 Years and over: Professional school degree or more',
       u'Population 25 Years and over: Doctorate degree.1', u'Low Income',
       u'Pct Low Income', u'English Only', u'EngWell', u'EngNotWell',
       u'FIPS_y', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer', u'low_speed', u'high_speed',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer', u'Mobile'],
      dtype='object')

In [33]:
# Are the demographics and infrastructure different in Community Districts that
# show more complaints than others?
# Try running a regression against several of the demographic variables and see how
# strong the correlation is. Looking for p-value < 0.05
import statsmodels.api as sm
df_merge["Complaints Per1000"] = df_merge.Complaints * 1000 / df_merge['Total Population']
df_merge["Density_acre"] = df_merge[Dense] / 640
df_merge['Pct College'] = (df_merge["Population 25 Years and over: Bachelor's degree or more"] /
  df_merge["Total Population"] * 100)
df_merge['Pct Mobile'] = df_merge['Mobile'] * 100 / df_merge['Households']
df_merge['Pct Fast'] = df_merge.high_speed * 100 / df_merge.Households
df_merge['Pct Slow'] = df_merge.low_speed * 100 / df_merge.Households
ind_vars = ['% Population 5 Years And Over: Speak Only English', PctEngWell, PctEngNotWell,
            "Low Income", 'Density_acre', "Pct College", 'Pct Mobile', 'Pct Fast', 'Pct Slow']
model = sm.OLS(df_merge["Complaints Per1000"], sm.add_constant(df_merge[ind_vars]),
               missing='drop').fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Complaints Per1000   R-squared:                       0.316
Model:                            OLS   Adj. R-squared:                  0.179
Method:                 Least Squares   F-statistic:                     2.305
Date:                Wed, 16 Nov 2016   Prob (F-statistic):             0.0317
Time:                        22:17:34   Log-Likelihood:                -369.87
No. Observations:                  55   AIC:                             759.7
Df Residuals:                      45   BIC:                             779.8
Df Model:                           9
Covariance Type:            nonrobust
=================================================================================================================================================================
                                                                                                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
const                                                                                          1054.2151    655.407      1.608      0.115      -265.842  2374.272
% Population 5 Years And Over: Speak Only English                                                 4.2922      2.462      1.743      0.088        -0.667     9.251
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"             -13.7297      8.428     -1.629      0.110       -30.705     3.245
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"    16.4646      8.679      1.897      0.064        -1.015    33.945
Low Income                                                                                       -0.0200      0.008     -2.487      0.017        -0.036    -0.004
Density_acre                                                                                      2.9330      1.159      2.531      0.015         0.599     5.267
Pct College                                                                                      -7.9548      4.453     -1.786      0.081       -16.925     1.015
Pct Mobile                                                                                        2.5457      5.527      0.461      0.647        -8.585    13.677
Pct Fast                                                                                         -1.7585      8.054     -0.218      0.828       -17.981    14.464
Pct Slow                                                                                        158.9088    132.551      1.199      0.237      -108.063   425.880
==============================================================================
Omnibus:                        1.025   Durbin-Watson:                   2.369
Prob(Omnibus):                  0.599   Jarque-Bera (JB):                1.054
Skew:                           0.301   Prob(JB):                        0.590
Kurtosis:                       2.686   Cond. No.                     4.40e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.4e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

None of the internet or language variables in this set had a p-value below 0.05. Neither does the variable for college education. Will try with just the most significant variables to try for a better regression.

In [38]:
less_vars = [PctEngNotWell, "Low Income", 'Density_acre', "Pct College"]
smaller_model = sm.OLS(df_merge["Complaints Per1000"], sm.add_constant(df_merge[less_vars]),
               missing='drop').fit()
smaller_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Complaints Per1000   R-squared:                       0.221
Model:                            OLS   Adj. R-squared:                  0.158
Method:                 Least Squares   F-statistic:                     3.541
Date:                Wed, 16 Nov 2016   Prob (F-statistic):             0.0128
Time:                        22:30:07   Log-Likelihood:                -373.44
No. Observations:                  55   AIC:                             756.9
Df Residuals:                      50   BIC:                             766.9
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================================================================================================
                                                                                                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
const                                                                                          1196.3997    142.274      8.409      0.000       910.634  1482.166
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"     0.1878      3.529      0.053      0.958        -6.901     7.277
Low Income                                                                                       -0.0186      0.006     -2.896      0.006        -0.032    -0.006
Density_acre                                                                                      3.3210      1.005      3.305      0.002         1.303     5.339
Pct College                                                                                      -7.0445      2.445     -2.881      0.006       -11.956    -2.133
==============================================================================
Omnibus:                        1.316   Durbin-Watson:                   2.586
Prob(Omnibus):                  0.518   Jarque-Bera (JB):                1.331
Skew:                           0.297   Prob(JB):                        0.514
Kurtosis:                       2.522   Cond. No.                     9.39e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.39e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

The low income and density variables have strong positive correlations with 311 complaints. College education has strong negative correlation. The "English less than 'very well'" variable has a high p-value, but its inclusion improves the log-likelihood by more the 20. Compared to the more extensive set of variables, this reduced set has a log-likelihood that is between 3 and 4 less, so the larger set with 5 extra variables is not an improvement.